@using CRMEngSystem.Models.ViewModels.Order
@model OrderAddContactsViewModel

<head>
    <style>
        .cards-container {
            margin-top: 10px;
            gap: 10px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(calc(25% - 8px), 1fr));
            max-height: 60vh;
            overflow-y: scroll;
            overflow-x: hidden;
            padding-right: 8px;
        }

        @@media (min-width: 1400px) {
            .cards-container {
                grid-template-columns: repeat(auto-fill, minmax(calc(16% - 8px), 1fr));
            }
        }

        .cards-container::-webkit-scrollbar {
            width: 5px;
        }

        .cards-container::-webkit-scrollbar-track {
            background: #E1E2F3;
            border-radius: 3px;
        }

        .cards-container::-webkit-scrollbar-thumb {
            background: #4962E9;
            border-radius: 3px;
        }

            .cards-container::-webkit-scrollbar-thumb:hover {
                background: #59CDFF;
            }

        .card-data {
            background-color: white;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            padding: 15px;
        }

        .card-data-header {
            display: flex;
            flex-direction: row;
        }

            .card-data-header:hover span {
                color: #4962E9;
            }

            .card-data-header:hover img {
                outline: 2px solid #4962E9;
                outline-offset: 1px;
            }

        .card-data-footer {
            display: flex;
            flex-direction: column;
        }

            .card-data-footer img {
                height: 15px;
                width: 15px;
            }

        .card-data-header img {
            height: 35px;
            width: 35px;
            transition: border-color 0.3s ease;
            border-radius: 50%;
        }

        .card-data-header span {
            margin-left: 10px;
            font-size: 13px;
            color: #595586;
        }

        .card-data-footer span {
            font-size: 12px;
            color: #595586;
            align-self: flex-start;
        }

        .card-data-footer img {
            display: flex;
            text-align: right;
            margin-left: 10px;
        }

        .card-data-footer a {
            border-bottom: 2px solid #E1E2F3;
            margin-top: 10px;
            padding: 0 5px;
        }

        .card-data-link:hover span {
            color: #4962E9;
        }

        .card-data a {
            text-decoration: none;
            display: flex;
            align-items: center;
        }

        .copy-container {
            width: 100%;
            height: 21px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid #E1E2F3;
            margin-top: 10px;
            padding: 0 5px;
            cursor: pointer;
        }

            .copy-container span {
                overflow: hidden;
                text-overflow: ellipsis;
            }

        .select-checkbox {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;
            padding: 0 5px;
            margin-top: 10px;
        }

            .select-checkbox label {
                cursor: pointer;
                user-select: none;
                display: flex;
                align-items: center;
                justify-content: center;
            }

                .select-checkbox label span {
                    padding: 2px 0 0 5px;
                }
    </style>
</head>
<body>
    <div class="page-container">
        @if (Model.WorkGroup)
        {
            <div style="height: 30px; margin-bottom: 10px; align-items: center;">
                <span style="color: #595586; font-size: 18px; font-weight: bold;">Додавання працівників до замовлення</span>
            </div>
        }
        else
        {
            <div style="height: 30px; margin-bottom: 10px; align-items: center;">
                <span style="color: #595586; font-size: 18px; font-weight: bold;">Додавання контактів до замовлення</span>
            </div>
        }
        @using (Html.BeginForm("OrderAddContacts", "OrderAddContacts", FormMethod.Post))
        {
            @if (Model.WorkGroup)
            {
                <input class="add-btn-fullwidth" type="submit" value="Додати обраних працівників" />
            }
            else
            {
                <input class="add-btn-fullwidth" type="submit" value="Додати обрані контакти" />
            }
            <div class="cards-container">
                @for (int i = 0; i < Model.Contacts.Count; i++)
                {
                    var entity = Model.Contacts[i];
                    <div class="card-data">
                        <a href="@Url.Action("ContactDetails","ContactDetails", new { EntityId = entity.ContactId})" class="card-data-header">
                            @if (entity.Image!.Length == 0)
                            {
                                <img src="~/images/contact/Contact_Empty_Image.png">
                            }
                            else
                            {
                                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(entity.Image!))">
                            }
                            <span>@entity.Initials</span>
                        </a>
                        <div class="card-data-footer">
                            <div class="copy-container" onclick="copyToClipboard('@entity.PhoneNumber')"><span>@entity.PhoneNumber</span><img src="~/icons/Copy.svg" /></div>
                            <div class="copy-container" onclick="copyToClipboard('@entity.Email')"><span>@entity.Email</span><img src="~/icons/Copy.svg" /></div>
                            <div class="select-checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.Contacts[i].IsSelected)
                                    <span>Обрати контакт</span>
                                    @Html.HiddenFor(m => m.Contacts[i].ContactId)
                                </label>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @Html.HiddenFor(m => m.OrderId)
            @Html.HiddenFor(m => m.WorkGroup)
        }
    </div>
</body>
<script>
    function copyToClipboard(text) {
        var tempElement = document.createElement('textarea');
        tempElement.value = text;
        document.body.appendChild(tempElement);
        tempElement.select();
        document.execCommand('copy');
        document.body.removeChild(tempElement);
        alert("Дані скопійовані: " + text);
    }
</script>
