@using CRMEngSystem.Models.ViewModels.Contact
@using CRMEngSystem.Models.ViewModels.Notify
@using CRMEngSystem.Models.ViewModels.Confirm
@model ContactDetailsViewModel

<head>
    <style>
        .tab-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 10px;
        }

        .details-container {
            background-color: white;
            border-radius: 5px;
            padding: 10px;
            color: #595586;
            width: 100%;
        }

        .details-container-header {
            display: flex;
            flex-direction: row;
            gap: 20px;
            font-size: 14px;
            font-weight: bold;
            align-items: center;
            width: 100%;
        }

        .details-container img{
            border-radius: 50%;
            height: 50px;
            width: 50px;
        }

        .details-container-data{
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            gap: 10px;
            font-size: 12px;
        }

        .details-container-data-row {
            display: flex;
            border-radius: 5px;
            width: 100%;
            padding: 5px 10px;
            align-items: center;
            justify-content: space-between;
        }

        .details-container-data-row-filled {
            display: flex;
            border-radius: 5px;
            width: 100%;
            padding: 5px 10px;
            align-items: center;
            justify-content: space-between;
            background-color: #E1E2F3;
        }

        .details-container-data span:last-child{
            text-align: right;
        }

        .details-container-data span:first-child{
            font-weight: bold;
            width: 250px;
        }

        .func-button-container{
            display: flex;
            flex-direction: row;
            margin-left: auto;
            align-items: center;
            gap: 5px;
        }

        .btn-default:hover path {
                stroke: #4962E9;
            }

        .trash-bucket:hover path{
            fill: #FF705C;
        }

        .right-details-container{
            width: 500px;
            color: #595586;
            display: flex;
            gap: 10px;
            flex-direction: column;
        }

        .diagram-container{
            background-color: white;
            border-radius: 5px;
            width: 100%;
            height: 35%;
            padding: 10px 10px 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }

        .socialnetworks-container{
            background-color: white;
            border-radius: 5px;
            width: 100%;
            height: 65%;
            padding: 30px 20px;
            display: flex;
            flex-direction: row;
            gap: 15px;
        }

        .network-link{
            border-bottom: 2px solid #E1E2F3;
            padding: 3px;
            font-weight: 800;
            font-size: 12px;
            color: #595586;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            width: 100%;
        }

        .network-link span{
            text-align: left;
        }

        .network-link svg{
            text-align: right;
        }

            .network-link:hover  {
                color: #4962E9;
                border-bottom: 2px solid #4962E9;
            }

            .network-link:hover svg path{
                fill: #4962E9;
            }

        .left{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        .right {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        .diagram{
            width: 115px;
            height: 115px;
            padding-bottom: 10px;
        }

        .diagram-labels{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .diagram-label{
            font-size: 12px;
            color: #595586;
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
        }

        .labl
        {
            width: 130px;
        }

        .card-data-link:hover span {
            color: #4962E9;
        }

        .card-data-link {
            text-decoration: none;
            font-size: 12px;
            color: #595586;
            
        }

    </style>
</head>
<body>
    @if (TempData["ConfirmModal"] != null && (bool)TempData["ConfirmModal"]!)
    {
        @await Html.PartialAsync("_ConfirmModal", new ConfirmModalViewModel { NotifyText = (string)TempData["NotifyText"]!, ConfirmActionName = "ConfirmModal", ControllerName = "ContactRemove", RouteValues = new { EntityId = Model.EntityId} })
    }
    @if (TempData["NotifyModal"] != null && (bool)TempData["NotifyModal"]!)
    {
        @await Html.PartialAsync("_NotifyModal", new NotifyModalViewModel { NotifyText = (string)TempData["NotifyText"]!, IsError = false })
    }
    else if (TempData["ErrorNotifyModal"] != null && (bool)TempData["ErrorNotifyModal"]!)
    {
        @await Html.PartialAsync("_NotifyModal", new NotifyModalViewModel { NotifyText = (string)TempData["NotifyText"]!, IsError = true })
    }
    <div class="page-container">
        @await Html.PartialAsync("_ContactMenuTab", Model)
        <div class="tab-container">
            <div class="details-container">
                <div class="details-container-header">
                    @if (Model.Contact.Image!.Length == 0)
                    {
                        <img src="~/images/contact/Contact_Empty_Image.png">
                    }
                    else
                    {
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Contact.Image!))">
                    }
                    <span>@Model.Contact.Initials</span>
                    <div class="func-button-container">
                        <a title="Створити користувача для контакту" href="@Url.ActionLink("AccountCreate", "AccountCreate", new { ContactId = Model.Contact.ContactId, ContactInitials = Model.Contact.Initials })">
                            <svg class="btn-default" width="30" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.25 43.75V41.6667C6.25 37.0644 9.98096 33.3334 14.5833 33.3334H22.9167C27.519 33.3334 31.25 37.0644 31.25 41.6667V43.75" stroke="#595586" stroke-width="3" stroke-linecap="round" />
                                <path d="M18.75 27.0834C15.2982 27.0834 12.5 24.2852 12.5 20.8334C12.5 17.3816 15.2982 14.5834 18.75 14.5834C22.2019 14.5834 25 17.3816 25 20.8334C25 24.2852 22.2019 27.0834 18.75 27.0834Z" stroke="#595586" stroke-width="3" stroke-linecap="round" />
                                <path d="M31.25 12.5H43.75" stroke="#595586" stroke-width="3" stroke-linecap="round" />
                                <path d="M37.5 6.25V18.75" stroke="#595586" stroke-width="3" stroke-linecap="round" />
                            </svg>
                        </a>
                        <a title="Змінити підприємство для контакту" href="@Url.ActionLink("EnterpriseChange", "EnterpriseChange", new { ContactId = Model.Contact.ContactId, ContactInitials = Model.Contact.Initials })">
                            <svg class="btn-default" width="30" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5 31.3158C5 32.2463 5.36967 33.1388 6.0277 33.7968C6.68572 34.4549 7.57819 34.8245 8.50877 34.8245C9.43936 34.8245 10.3318 34.4549 10.9898 33.7968C11.6479 33.1388 12.0175 32.2463 12.0175 31.3158C12.0175 30.3852 11.6479 29.4927 10.9898 28.8347C10.3318 28.1767 9.43936 27.807 8.50877 27.807C7.57819 27.807 6.68572 28.1767 6.0277 28.8347C5.36967 29.4927 5 30.3852 5 31.3158ZM37.9825 18.6842C37.9825 19.6148 38.3521 20.5072 39.0102 21.1653C39.6682 21.8233 40.5606 22.193 41.4912 22.193C42.4218 22.193 43.3143 21.8233 43.9723 21.1653C44.6303 20.5072 45 19.6148 45 18.6842C45 17.7536 44.6303 16.8611 43.9723 16.2031C43.3143 15.5451 42.4218 15.1754 41.4912 15.1754C40.5606 15.1754 39.6682 15.5451 39.0102 16.2031C38.3521 16.8611 37.9825 17.7536 37.9825 18.6842Z" stroke="#595586" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M41.4903 22.193V30.9649C41.4903 33.2914 40.5661 35.5226 38.921 37.1676C37.276 38.8127 35.0448 39.7368 32.7183 39.7368H27.4552M27.4552 39.7368L32.7183 34.4737M27.4552 39.7368L32.7183 45M8.50781 27.807V19.0351C8.50781 16.7086 9.432 14.4775 11.0771 12.8324C12.7221 11.1873 14.9533 10.2632 17.2797 10.2632H22.5429M22.5429 10.2632L17.2797 5M22.5429 10.2632L17.2797 15.5263" stroke="#595586" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M17.4561 31.0655C17.664 30.3367 17.8603 29.6084 18.041 28.8807M26.228 31.0655C26.02 30.3367 25.8238 29.6084 25.643 28.8807M18.041 28.8807C18.7346 26.0876 19.1986 23.304 19.2104 20.5392H24.4736C24.4854 23.304 24.9494 26.0876 25.643 28.8807M18.041 28.8807H25.643" stroke="#595586" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M24.9124 24.0478H28.8598C28.8817 26.3391 29.644 28.6935 30.6142 31.0654M24.5822 16.3749C24.2766 16.2221 23.9383 16.1459 23.5966 16.1531C23.255 16.1459 22.9167 16.2221 22.6111 16.3749C22.3559 16.5025 22.1948 16.6146 21.9785 16.8644C21.8861 16.9711 21.8276 17.1023 21.7995 17.2405L21.7451 17.5084C21.6593 17.9304 21.9818 18.3251 22.4124 18.3251V18.3251H22.6349C23.0395 18.3251 23.4415 18.2599 23.8253 18.1319L23.9056 18.1051C24.0211 18.0666 24.1338 18.02 24.2426 17.9655V17.9655C24.5021 17.8358 24.7378 17.6631 24.9397 17.4548L25.351 17.0303M24.5822 16.3749C24.8879 16.5277 25.1518 16.7527 25.351 17.0303M24.5822 16.3749L25.7967 15.2873C26.0095 15.0967 26.2615 14.9548 26.5349 14.8717V14.8717C26.9068 14.7587 27.304 14.7587 27.6759 14.8717L28.091 14.9979M25.351 17.0303C25.5503 17.3079 25.8142 17.5329 26.1198 17.6857C26.4255 17.8385 26.7638 17.9146 27.1054 17.9075C27.4471 17.9146 27.7853 17.8385 28.091 17.6857C28.3967 17.5329 28.6605 17.3079 28.8598 17.0303C29.0591 16.7527 29.3229 16.5277 29.6286 16.3749M29.6286 16.3749C29.9343 16.2221 30.2725 16.1459 30.6142 16.1531C30.9559 16.1459 31.2941 16.2221 31.5998 16.3749M29.6286 16.3749L28.091 14.9979M31.5998 16.3749C31.9054 16.5277 32.1693 16.7527 32.3686 17.0303M31.5998 16.3749L31.2074 15.4373C31.0878 15.1513 30.8827 14.9093 30.6204 14.7443V14.7443C30.3413 14.5687 30.0124 14.4896 29.684 14.5191L29.5839 14.5281C29.4331 14.5417 29.2847 14.5742 29.1421 14.6248L28.091 14.9979M16.5791 31.0654H31.6961" stroke="#595586" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                        <a href="@Url.ActionLink("ContactEdit", "ContactEdit", new { ContactId = Model.Contact.ContactId})">
                            <svg class="btn-default" width="30" height="30" viewBox="0 0 50 50" fill="none">
                                <path d="M32.0152 14.2493L35.7511 17.9852M34.4169 10.9582L24.3106 21.0646C23.7884 21.586 23.4322 22.2504 23.287 22.974L22.3535 27.6469L27.0264 26.7116C27.7499 26.5669 28.4135 26.2122 28.9358 25.6898L39.0422 15.5834C39.3459 15.2797 39.5868 14.9192 39.7512 14.5224C39.9155 14.1256 40.0001 13.7003 40.0001 13.2708C40.0001 12.8413 39.9155 12.416 39.7512 12.0192C39.5868 11.6224 39.3459 11.2619 39.0422 10.9582C38.7385 10.6545 38.378 10.4136 37.9812 10.2492C37.5844 10.0848 37.1591 10.0002 36.7296 10.0002C36.3001 10.0002 35.8748 10.0848 35.478 10.2492C35.0812 10.4136 34.7206 10.6545 34.4169 10.9582Z" stroke="#595586" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M36.4704 31.1762V36.4703C36.4704 37.4063 36.0985 38.304 35.4366 38.9659C34.7748 39.6278 33.877 39.9997 32.941 39.9997H13.5294C12.5933 39.9997 11.6956 39.6278 11.0337 38.9659C10.3718 38.304 10 37.4063 10 36.4703V17.0587C10 16.1226 10.3718 15.2249 11.0337 14.563C11.6956 13.9011 12.5933 13.5293 13.5294 13.5293H18.8235" stroke="#595586" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                        <a href="@Url.Action("OpenModal", "ContactRemove", new { EntityId = Model.EntityId })">
                            <svg class="trash-bucket" width="30" height="30" viewBox="0 0 50 50" fill="none">
                                <path d="M21.5 13.1875H28.5C28.5 12.2592 28.1313 11.369 27.4749 10.7126C26.8185 10.0562 25.9283 9.6875 25 9.6875C24.0717 9.6875 23.1815 10.0562 22.5251 10.7126C21.8687 11.369 21.5 12.2592 21.5 13.1875ZM18.875 13.1875C18.875 12.3832 19.0334 11.5867 19.3412 10.8436C19.649 10.1004 20.1002 9.42523 20.669 8.85647C21.2377 8.28771 21.9129 7.83655 22.6561 7.52874C23.3992 7.22093 24.1957 7.0625 25 7.0625C25.8043 7.0625 26.6008 7.22093 27.3439 7.52874C28.0871 7.83655 28.7623 8.28771 29.331 8.85647C29.8998 9.42523 30.351 10.1004 30.6588 10.8436C30.9666 11.5867 31.125 12.3832 31.125 13.1875H41.1875C41.5356 13.1875 41.8694 13.3258 42.1156 13.5719C42.3617 13.8181 42.5 14.1519 42.5 14.5C42.5 14.8481 42.3617 15.1819 42.1156 15.4281C41.8694 15.6742 41.5356 15.8125 41.1875 15.8125H38.8775L36.83 37.0068C36.6729 38.6307 35.9166 40.1379 34.7084 41.2344C33.5003 42.331 31.927 42.9381 30.2955 42.9375H19.7045C18.0733 42.9377 16.5004 42.3303 15.2927 41.2339C14.0849 40.1374 13.3288 38.6304 13.1718 37.0068L11.1225 15.8125H8.8125C8.4644 15.8125 8.13056 15.6742 7.88442 15.4281C7.63828 15.1819 7.5 14.8481 7.5 14.5C7.5 14.1519 7.63828 13.8181 7.88442 13.5719C8.13056 13.3258 8.4644 13.1875 8.8125 13.1875H18.875ZM22.375 21.5C22.375 21.1519 22.2367 20.8181 21.9906 20.5719C21.7444 20.3258 21.4106 20.1875 21.0625 20.1875C20.7144 20.1875 20.3806 20.3258 20.1344 20.5719C19.8883 20.8181 19.75 21.1519 19.75 21.5V34.625C19.75 34.9731 19.8883 35.3069 20.1344 35.5531C20.3806 35.7992 20.7144 35.9375 21.0625 35.9375C21.4106 35.9375 21.7444 35.7992 21.9906 35.5531C22.2367 35.3069 22.375 34.9731 22.375 34.625V21.5ZM28.9375 20.1875C29.2856 20.1875 29.6194 20.3258 29.8656 20.5719C30.1117 20.8181 30.25 21.1519 30.25 21.5V34.625C30.25 34.9731 30.1117 35.3069 29.8656 35.5531C29.6194 35.7992 29.2856 35.9375 28.9375 35.9375C28.5894 35.9375 28.2556 35.7992 28.0094 35.5531C27.7633 35.3069 27.625 34.9731 27.625 34.625V21.5C27.625 21.1519 27.7633 20.8181 28.0094 20.5719C28.2556 20.3258 28.5894 20.1875 28.9375 20.1875ZM15.7845 36.7547C15.8789 37.7289 16.3327 38.6329 17.0574 39.2907C17.7821 39.9484 18.7258 40.3127 19.7045 40.3125H30.2955C31.2742 40.3127 32.2179 39.9484 32.9426 39.2907C33.6673 38.6329 34.1211 37.7289 34.2155 36.7547L36.242 15.8125H13.758L15.7845 36.7547Z" fill="#595586" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="details-container-data">
                    <div class="details-container-data-row-filled">
                        <span>Підприємство:</span>
                        <a class="card-data-link" href="@Url.Action("EnterpriseDetails", "EnterpriseDetails", new { EntityId = Model.Contact.EnterpriseId})"><span style="font-weight: 500;">@Model.Contact.EnterpriseNameUA</span></a>
                    </div>
                    <div class="details-container-data-row">
                        <span>Адреса під-ства:</span>
                        <span>@Model.Contact.EnterpriseAddress</span>
                    </div>
                    <div class="details-container-data-row-filled">
                        <span>Посада:</span>
                        <span>@Model.Contact.Position</span>
                    </div>
                    <div class="details-container-data-row">
                        <span>Дата створення:</span>
                        <span>@Model.Contact.DateTimeCreate</span>
                    </div>
                    <div class="details-container-data-row">
                        <span>Дата оновлення:</span>
                        <span>@Model.Contact.DateTimeUpdate</span>
                    </div>
                    <div class="details-container-data-row-filled">
                        <span>Телефон (Основний):</span>
                        <span>@Model.Contact.FirstPhoneNumber</span>
                    </div>
                    <div class="details-container-data-row">
                        <span>Телефон (Додатковий):</span>
                        <span>@{ string phone = string.IsNullOrEmpty(Model.Contact.ExtraPhoneNumber) ? "Відсутній" : Model.Contact.ExtraPhoneNumber; }@phone</span>
                    </div>
                    <div class="details-container-data-row-filled">
                        <span>Електрона пошта (Основна):</span>
                        <span>@Model.Contact.FirstEmail</span>
                    </div>
                    <div class="details-container-data-row">
                        <span>Електрона пошта (Додаткова):</span>
                        <span>@{ string email = string.IsNullOrEmpty(Model.Contact.ExtraEmail) ? "Відсутня" : Model.Contact.ExtraEmail; }@email</span>
                    </div>
                </div>
            </div>
            <div class="right-details-container">
                <div class="diagram-container">
                    @if (Model.Contact.TotalOrdersNumber == 0)
                    {
                        <span style="font-weight: 800; font-size: 20px; color: #595586; text-align: center; width: 100%;">Аналітика відсутня</span>
                    }
                    else
                    {
                        <div class="diagram">
                            <canvas id="priorityChart"></canvas>
                        </div>
                        <div class="diagram-labels">
                            <div class="diagram-label">
                                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="15" height="15" rx="5" fill="#FF6B00" />
                                </svg>
                                <div class="labl">
                                    <span>Високий пріорітет</span>
                                </div>
                                <span style="font-weight: 600;">@(Model.Contact.NumberHighPriorityOrders * 100 / Model.Contact.TotalOrdersNumber)%</span>
                            </div>
                            <div class="diagram-label">
                                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="15" height="15" rx="5" fill="#FAD200" />
                                </svg>
                                <div class="labl">
                                    <span>Середній пріорітет</span>
                                </div>
                                <span style="font-weight: 600;">@(Model.Contact.NumberMediumPriorityOrders * 100 / Model.Contact.TotalOrdersNumber)%</span>
                            </div>
                            <div class="diagram-label">
                                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="15" height="15" rx="5" fill="#00E4F2" />
                                </svg>
                                <div class="labl">
                                    <span>Низький пріорітет</span>
                                </div>
                                <span style="font-weight: 600;">@(Model.Contact.NumberLowPriorityOrders * 100 / Model.Contact.TotalOrdersNumber)%</span>
                            </div>
                        </div>
                    }
                </div>
                <div class="socialnetworks-container">
                    <div class="left">
                        <a href="@Model.Contact.TelegramLink" target="_blank" class="network-link">
                            <span>Telegram</span>
                            <svg width="25" height="25" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4608 22.771C11.5242 22.7921 11.5893 22.8074 11.6555 22.8167C12.0727 23.7998 12.4876 24.7839 12.9001 25.769C13.6419 27.5416 14.3896 29.3673 14.5533 29.8923C14.7582 30.5382 14.9735 30.9777 15.2095 31.2785C15.3319 31.4319 15.472 31.5676 15.6372 31.6708C15.7232 31.7246 15.8153 31.7682 15.9115 31.8006C16.3834 31.9775 16.814 31.9038 17.0838 31.8139C17.2422 31.7598 17.3929 31.6854 17.5321 31.5926L17.5395 31.5897L21.707 28.9913L26.5219 32.681C26.5927 32.7355 26.6694 32.7813 26.752 32.8181C27.3301 33.0688 27.8905 33.1573 28.4184 33.0865C28.9434 33.0128 29.3607 32.7931 29.6719 32.5438C30.0292 32.2558 30.314 31.8882 30.5036 31.4702L30.5169 31.4378L30.5213 31.426L30.5243 31.4201V31.4172L30.5258 31.4157C30.5514 31.3523 30.5711 31.2866 30.5847 31.2195L34.9794 9.06214C34.9932 8.99122 35.0001 8.91911 35 8.84684C35 8.19797 34.7552 7.58007 34.1815 7.20697C33.689 6.88696 33.1419 6.87221 32.7953 6.89875C32.4237 6.92825 32.0786 7.01968 31.8471 7.09342C31.7175 7.13449 31.5896 7.18074 31.4637 7.23204L31.4474 7.23941L6.79927 16.9076L6.79632 16.909C6.71292 16.9397 6.63077 16.9737 6.55004 17.0108C6.35459 17.0987 6.16709 17.2033 5.98965 17.3234C5.6549 17.552 4.88363 18.1802 5.01488 19.2184C5.11811 20.0443 5.68439 20.553 6.03095 20.7978C6.21971 20.932 6.39962 21.0279 6.53235 21.0913C6.59133 21.1208 6.71816 21.1709 6.77272 21.1945L6.78747 21.1989L11.4608 22.771ZM32.3101 9.2745H32.3072C32.2945 9.28014 32.2817 9.28555 32.2689 9.29072L7.59118 18.9721C7.57849 18.9773 7.5657 18.9822 7.55284 18.9869L7.53809 18.9913C7.49301 19.009 7.44873 19.0287 7.40537 19.0503C7.44642 19.0738 7.48876 19.095 7.53219 19.1137L12.1657 20.6739C12.2485 20.7019 12.3277 20.7395 12.4017 20.786L27.7046 11.8272L27.7194 11.8198C27.7788 11.7837 27.8398 11.7503 27.9023 11.7196C28.0084 11.665 28.178 11.5854 28.3697 11.5264C28.5025 11.4851 28.8962 11.3686 29.3209 11.5057C29.5462 11.5767 29.747 11.7097 29.9003 11.8893C30.0536 12.069 30.1533 12.2882 30.188 12.5218C30.243 12.7264 30.2445 12.9417 30.1925 13.1471C30.0892 13.5526 29.8061 13.8682 29.548 14.11C29.3268 14.3165 26.457 17.083 23.6271 19.8142L19.7737 23.5304L19.088 24.1941L27.7474 30.8332C27.8643 30.8822 27.9912 30.9025 28.1176 30.8922C28.1812 30.8835 28.2411 30.8569 28.2901 30.8155C28.3499 30.765 28.4012 30.7053 28.442 30.6385L28.4449 30.637L32.7068 9.1462C32.5726 9.17849 32.441 9.22089 32.3131 9.27303L32.3101 9.2745ZM19.8327 27.552L18.1043 26.2277L17.6855 28.8895L19.8327 27.552ZM16.519 23.5998L18.2371 21.9407L22.0905 18.2215L23.5253 16.8382L13.9103 22.4672L13.9619 22.5881C14.5683 24.0207 15.168 25.4561 15.761 26.8942L16.1784 24.2398C16.2161 23.9936 16.3362 23.7689 16.519 23.5998Z" fill="#595586" />
                            </svg>
                        </a>
                        <a href="@Model.Contact.LinkedInLink" target="_blank" class="network-link">
                            <span>Linked In</span>
                            <svg width="25" height="25" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M32.5888 5H7.41125C6.08 5 5 6.08 5 7.41125V32.5888C5 33.92 6.08 35 7.41125 35H32.5888C33.92 35 35 33.92 35 32.5888V7.41125C35 6.08 33.92 5 32.5888 5ZM32.5888 32.6C15.7963 32.5963 7.4 32.5925 7.4 32.5888C7.40375 15.7963 7.4075 7.4 7.41125 7.4C24.2038 7.40375 32.6 7.4075 32.6 7.41125C32.5963 24.2038 32.5925 32.6 32.5888 32.6ZM9.4475 16.2463H13.8988V30.5638H9.4475V16.2463ZM11.675 14.2888C13.0963 14.2888 14.255 13.1337 14.255 11.7088C14.255 11.3699 14.1883 11.0344 14.0586 10.7214C13.929 10.4084 13.7389 10.124 13.4993 9.88441C13.2598 9.64484 12.9753 9.4548 12.6623 9.32514C12.3493 9.19548 12.0138 9.12875 11.675 9.12875C11.3362 9.12875 11.0007 9.19548 10.6877 9.32514C10.3747 9.4548 10.0902 9.64484 9.85067 9.88441C9.61109 10.124 9.42105 10.4084 9.29139 10.7214C9.16173 11.0344 9.095 11.3699 9.095 11.7088C9.09125 13.1337 10.2463 14.2888 11.675 14.2888ZM21.1362 23.48C21.1362 21.6125 21.4925 19.805 23.8063 19.805C26.0863 19.805 26.12 21.9388 26.12 23.6V30.5638H30.5675V22.7113C30.5675 18.8562 29.735 15.89 25.2313 15.89C23.0675 15.89 21.6163 17.0788 21.02 18.2038H20.96V16.2463H16.6888V30.5638H21.1362V23.48Z" fill="#595586" />
                            </svg>
                        </a>
                        <a href="@Model.Contact.ViberLink" target="_blank" class="network-link">
                            <span>Viber</span>
                            <svg width="25" height="25" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.6555 5C17.3846 5 11.7671 5.23904 8.77904 8.10757C6.62765 10.1394 5.79099 13.247 5.67147 16.9522C5.43243 22.8088 6.74717 26.5139 8.89856 28.4263C9.37665 28.7849 10.5719 29.741 12.8428 30.4582V33.4462C12.8428 33.4462 12.8428 34.6414 13.5599 34.8805C13.6794 34.8805 13.799 35 13.9185 35C14.6356 35 15.2332 34.1633 16.0699 33.3267C16.787 32.49 17.3846 31.8924 17.7432 31.2948H20.3727C22.6436 31.2948 28.2611 31.0558 31.2492 28.1873C33.4006 26.0359 34.2372 22.9283 34.2372 18.9841C34.3567 18.3865 34.3567 17.6693 34.3567 16.9522C34.2372 12.5299 32.9225 9.54183 31.1296 7.86853C30.4125 7.27092 27.3049 5 20.6117 5H19.6555ZM19.4165 7.27092H20.4922C26.8269 7.27092 29.2173 9.30279 29.4563 9.54183C30.8906 10.7371 31.7273 13.3665 31.8468 16.8327V17.3108C31.9663 18.0279 31.9663 18.6255 31.9663 18.9841C31.8468 22.5697 31.1296 24.9602 29.6954 26.5139C27.1854 28.7849 21.9265 28.9044 20.4922 28.9044H18.2213L16.3089 31.0558L15.1137 32.3705L14.8747 32.7291C14.6356 32.9681 14.2771 33.4462 14.038 33.5657V28.1873C11.6476 27.5896 10.6914 26.753 10.4523 26.5139C8.77904 25.0797 7.82287 21.6135 8.06191 16.9522V15.757C8.30095 12.8884 9.01809 10.9761 10.2133 9.66136C12.7233 7.39044 17.9822 7.27092 19.4165 7.27092ZM19.297 9.9004C18.6994 9.9004 18.6994 10.7371 19.297 10.7371C23.7193 10.7371 27.544 13.7251 27.544 19.3426C27.544 19.9402 28.3806 19.9402 28.3806 19.3426C28.3806 13.247 24.3169 9.78088 19.297 9.9004ZM14.5603 11.006C14.2895 10.9735 14.0167 11.0481 13.8002 11.2139C12.6049 11.8116 11.4085 13.0092 11.7671 14.3239C11.7671 14.3239 12.0061 15.3984 13.3209 17.6693C14.038 18.745 14.6356 19.7012 15.2332 20.4183C15.8308 21.255 16.787 22.2112 17.7432 22.9283C19.6555 24.4821 22.6436 26.0359 23.9583 26.3944C25.1535 26.753 26.4683 25.5578 27.0659 24.3626C27.3049 23.8845 27.1854 23.2869 26.7073 22.9283C25.9902 22.2112 24.795 21.3745 23.9583 20.8964C23.3607 20.5378 22.6436 20.7769 22.4045 21.1355L21.8069 21.8526C21.5679 22.2112 20.9703 22.2112 20.9703 22.2112C17.0261 21.1355 15.9504 17.0717 15.9504 17.0717C15.9504 17.0717 15.9504 16.5936 16.3089 16.2351L17.0261 15.6375C17.3846 15.3984 17.6237 14.6813 17.2651 14.0837C17.0261 13.7251 16.6675 13.008 16.3089 12.6494C15.9504 12.1713 15.2332 11.3347 15.2332 11.3347C15.0519 11.1531 14.815 11.0374 14.5603 11.006ZM20.1336 12.2908C19.536 12.1713 19.4165 13.1275 20.0141 13.1275C23.3607 13.3665 25.2731 15.6375 25.1535 18.506C25.034 19.1036 25.9902 19.1036 25.9902 18.506C26.1097 15.1594 23.9583 12.4104 20.1336 12.2908ZM20.4922 14.5618C19.8946 14.4422 19.8946 15.3984 20.4922 15.3984C21.9265 15.3984 22.6436 16.2351 22.6436 17.6693C22.7631 18.2669 23.5998 18.2669 23.5998 17.6693C23.4802 15.757 22.4045 14.5618 20.4922 14.5618Z" fill="#595586" />
                            </svg>
                        </a>
                        <a href="@Model.Contact.FaceBookLink" target="_blank" class="network-link">
                            <span>Facebook</span>
                            <svg width="25" height="25" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 20C8.00022 17.6907 8.66677 15.4305 9.91968 13.4906C11.1726 11.5507 12.9586 10.0135 15.0635 9.06352C17.1684 8.11352 19.5027 7.79106 21.7863 8.13481C24.0698 8.47856 26.2058 9.47394 27.9377 11.0015C29.6696 12.529 30.924 14.5239 31.5503 16.7467C32.1766 18.9694 32.1482 21.3257 31.4685 23.5328C30.7889 25.7398 29.4869 27.7039 27.7187 29.1893C25.9505 30.6747 23.7912 31.6183 21.5 31.907V23H24.5C24.8978 23 25.2794 22.842 25.5607 22.5607C25.842 22.2794 26 21.8978 26 21.5C26 21.1022 25.842 20.7206 25.5607 20.4393C25.2794 20.158 24.8978 20 24.5 20H21.5V17C21.5 16.6022 21.658 16.2206 21.9393 15.9393C22.2206 15.658 22.6022 15.5 23 15.5H23.75C24.1478 15.5 24.5294 15.342 24.8107 15.0607C25.092 14.7794 25.25 14.3978 25.25 14C25.25 13.6022 25.092 13.2206 24.8107 12.9393C24.5294 12.658 24.1478 12.5 23.75 12.5H23C21.8065 12.5 20.6619 12.9741 19.818 13.818C18.9741 14.6619 18.5 15.8065 18.5 17V20H15.5C15.1022 20 14.7206 20.158 14.4393 20.4393C14.158 20.7206 14 21.1022 14 21.5C14 21.8978 14.158 22.2794 14.4393 22.5607C14.7206 22.842 15.1022 23 15.5 23H18.5V31.907C15.6 31.5413 12.9332 30.1299 11 27.9376C9.06678 25.7453 8.00005 22.9229 8 20ZM20 35C28.2845 35 35 28.2845 35 20C35 11.7155 28.2845 5 20 5C11.7155 5 5 11.7155 5 20C5 28.2845 11.7155 35 20 35Z" fill="#595586" />
                            </svg>
                        </a>
                    </div>
                    <div class="right">
                        <a href="@Model.Contact.WhatsappLink" target="_blank" class="network-link">
                            <span>Whatsapp</span>
                            <svg width="25" height="25" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M30.5751 9.36508C29.1999 7.97597 27.5619 6.87459 25.7566 6.12516C23.9513 5.37574 22.0148 4.99328 20.0602 5.00009C11.8702 5.00009 5.1952 11.6751 5.1952 19.865C5.1952 22.49 5.88519 25.04 7.17519 27.29L5.0752 35L12.9502 32.93C15.1252 34.115 17.5702 34.745 20.0602 34.745C28.2501 34.745 34.9251 28.07 34.9251 19.88C34.9251 15.9051 33.3801 12.1701 30.5751 9.36508ZM20.0602 32.225C17.8402 32.225 15.6652 31.625 13.7602 30.5L13.3102 30.23L8.63019 31.46L9.87518 26.9L9.57518 26.435C8.3418 24.4655 7.6869 22.1889 7.68519 19.865C7.68519 13.0551 13.2352 7.50508 20.0452 7.50508C23.3451 7.50508 26.4501 8.79508 28.7751 11.1351C29.9263 12.281 30.8387 13.6441 31.4592 15.1452C32.0797 16.6463 32.3962 18.2557 32.3901 19.88C32.4201 26.69 26.8701 32.225 20.0602 32.225ZM26.8401 22.985C26.4651 22.805 24.6351 21.905 24.3051 21.77C23.9601 21.65 23.7201 21.59 23.4651 21.95C23.2101 22.325 22.5051 23.165 22.2951 23.405C22.0851 23.66 21.8601 23.69 21.4851 23.495C21.1101 23.315 19.9102 22.91 18.5002 21.65C17.3902 20.66 16.6552 19.445 16.4302 19.07C16.2202 18.695 16.4002 18.5 16.5952 18.305C16.7602 18.14 16.9702 17.8701 17.1502 17.6601C17.3302 17.4501 17.4052 17.2851 17.5252 17.0451C17.6452 16.7901 17.5852 16.5801 17.4952 16.4001C17.4052 16.2201 16.6552 14.3901 16.3552 13.6401C16.0552 12.9201 15.7402 13.0101 15.5152 12.9951H14.7952C14.5402 12.9951 14.1502 13.0851 13.8052 13.4601C13.4752 13.8351 12.5152 14.7351 12.5152 16.5651C12.5152 18.3951 13.8502 20.165 14.0302 20.405C14.2102 20.66 16.6552 24.41 20.3751 26.015C21.2601 26.405 21.9501 26.63 22.4901 26.795C23.3751 27.08 24.1851 27.035 24.8301 26.945C25.5501 26.84 27.0351 26.045 27.3351 25.175C27.6501 24.305 27.6501 23.57 27.5451 23.405C27.4401 23.24 27.2151 23.165 26.8401 22.985Z" fill="#595586" />
                            </svg>
                        </a>
                        <a href="@Model.Contact.SkypeLink" target="_blank" class="network-link">
                            <span>Skype</span>
                            <svg width="25" height="25" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5148 5.00102C12.0632 5.00065 10.6357 5.37146 9.36783 6.07821C8.09997 6.78496 7.0339 7.80418 6.2709 9.03901C5.50791 10.2738 5.07334 11.6833 5.0085 13.1333C4.94366 14.5834 5.25069 16.026 5.90043 17.324C5.46399 19.6218 5.59581 21.9914 6.28441 24.2266C6.97301 26.4618 8.19752 28.4948 9.85134 30.1486C11.5052 31.8024 13.5382 33.027 15.7733 33.7156C18.0085 34.4042 20.3782 34.536 22.6759 34.0995C24.2743 34.8999 26.084 35.1768 27.8485 34.891C29.613 34.6052 31.2428 33.7712 32.5067 32.5072C33.7707 31.2432 34.6047 29.6135 34.8905 27.849C35.1763 26.0845 34.8994 24.2747 34.099 22.6764C34.5357 20.3787 34.4041 18.0091 33.7157 15.7738C33.0273 13.5385 31.803 11.5054 30.1494 9.85145C28.4957 8.19747 26.4628 6.97276 24.2277 6.28394C21.9926 5.59513 19.623 5.46308 17.3252 5.8993C16.1426 5.30627 14.8377 4.99972 13.5148 5.00102ZM7.43432 13.5136C7.43422 12.4485 7.71393 11.4019 8.24545 10.4789C8.77698 9.55579 9.54166 8.78854 10.463 8.25393C11.3842 7.71932 12.4298 7.4361 13.495 7.43263C14.5601 7.42917 15.6075 7.70558 16.5323 8.23418C16.7955 8.38479 17.1054 8.43163 17.4014 8.36552C19.3609 7.92691 21.3994 7.99051 23.3278 8.55044C25.2561 9.11037 27.0118 10.1485 28.4316 11.5683C29.8515 12.9882 30.8896 14.7438 31.4495 16.6722C32.0094 18.6005 32.0731 20.6391 31.6344 22.5986C31.5683 22.8945 31.6152 23.2045 31.7658 23.4677C32.4295 24.6261 32.6934 25.9707 32.517 27.2941C32.3405 28.6174 31.7334 29.8459 30.7894 30.7899C29.8454 31.7339 28.6169 32.341 27.2936 32.5175C25.9702 32.6939 24.6256 32.4299 23.4672 31.7663C23.2047 31.6155 22.8954 31.5681 22.5997 31.6333C20.6402 32.0719 18.6016 32.0083 16.6733 31.4484C14.7449 30.8885 12.9893 29.8504 11.5695 28.4305C10.1496 27.0106 9.1115 25.255 8.55157 23.3267C7.99164 21.3983 7.92804 19.3597 8.36665 17.4002C8.43276 17.1043 8.38592 16.7943 8.23531 16.5311C7.70883 15.6127 7.43263 14.5722 7.43432 13.5136Z" fill="#595586" />
                                <path d="M21.946 18.526C22.517 18.694 23.0606 18.9444 23.5599 19.2666C24.0714 19.6025 24.4989 20.0544 24.8059 20.5827C25.125 21.1691 25.2868 21.8272 25.2746 22.4944C25.3014 23.3548 25.045 24.2003 24.5448 24.9008C24.0189 25.62 23.2969 26.1724 22.4651 26.4918C21.5699 26.849 20.6115 27.0209 19.648 26.9972C18.5146 27.029 17.3903 26.7859 16.3713 26.2888C15.7015 25.9363 15.1265 25.4277 14.6947 24.8061C14.2627 24.2083 14.0206 23.4943 14 22.757C14 22.4256 14.1317 22.1077 14.366 21.8733C14.6004 21.639 14.9183 21.5073 15.2498 21.5073C15.5812 21.5073 15.8991 21.639 16.1335 21.8733C16.3679 22.1077 16.4995 22.4256 16.4995 22.757C16.524 22.9861 16.611 23.2029 16.7515 23.3861C16.95 23.6717 17.2141 23.9053 17.521 24.0687C18.1852 24.3801 18.9151 24.5267 19.648 24.4992C20.2823 24.5195 20.9143 24.412 21.5062 24.1832C21.9032 24.0412 22.2514 23.7862 22.5079 23.4533C22.6991 23.1874 22.794 22.8642 22.7766 22.5372C22.7893 22.2853 22.7384 22.0343 22.6285 21.8073C22.5149 21.6211 22.3597 21.4638 22.175 21.3477C21.8789 21.1607 21.5582 21.0158 21.2222 20.9171C20.9474 20.8347 20.6496 20.7538 20.3397 20.6728L20.3168 20.6698C20.2947 20.6631 20.2722 20.6575 20.2496 20.653C20.0434 20.5994 19.8362 20.5495 19.6281 20.5033C19.0769 20.3842 18.6937 20.2896 18.454 20.2163L18.4387 20.2071C18.4349 20.2046 18.4308 20.2026 18.4265 20.201C17.8722 20.0667 17.3271 19.8956 16.7927 19.691C16.0881 19.4081 15.4692 18.9466 14.9971 18.3519C14.5073 17.7097 14.2515 16.9194 14.2718 16.112C14.2718 15.3027 14.5375 14.5133 15.0276 13.8674C15.5376 13.217 16.2201 12.7223 16.9973 12.4413C17.8561 12.1318 18.7644 11.9828 19.677 12.0016C20.3946 11.9939 21.1108 12.0932 21.7994 12.2963C22.3949 12.4703 22.9537 12.7543 23.4469 13.133C23.8744 13.4567 24.2287 13.8629 24.4928 14.3301C24.6498 14.6219 24.6844 14.964 24.589 15.2813C24.4936 15.5986 24.2762 15.865 23.9844 16.0219C23.8399 16.0996 23.6816 16.1481 23.5183 16.1646C23.3551 16.1811 23.1903 16.1653 23.0332 16.1181C22.7159 16.0227 22.4495 15.8052 22.2926 15.5134C22.1863 15.3459 22.0483 15.2007 21.8864 15.0859C21.6363 14.9033 21.3555 14.7668 21.0573 14.6828C20.6083 14.5539 20.1426 14.4921 19.6755 14.4996C19.0721 14.482 18.4705 14.5736 17.8997 14.7698C17.5592 14.8859 17.2584 15.0905 17.0248 15.3653C16.8584 15.578 16.7681 15.8404 16.7683 16.1105C16.748 16.3625 16.8189 16.6134 16.9683 16.8174C17.1729 17.0663 17.437 17.2602 17.7378 17.3763C18.3208 17.6002 18.9207 17.7768 19.532 17.9046C20.045 18.0176 20.4588 18.1183 20.81 18.2145C21.2085 18.3138 21.5963 18.4191 21.946 18.526Z" fill="#595586" />
                            </svg>
                        </a>
                        <a href="@Model.Contact.TwitterLink" target="_blank" class="network-link">
                            <span>Twitter</span>
                            <svg width="25" height="25" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M33.9564 8.00047L34.9564 7.93447C34.9434 7.73815 34.8728 7.55003 34.7534 7.39365C34.634 7.23727 34.4712 7.11958 34.2852 7.05532C34.0992 6.99106 33.8985 6.98308 33.708 7.03238C33.5175 7.08168 33.3458 7.18607 33.2144 7.33248L33.9564 8.00047ZM32.9604 13.9183C32.9604 13.6531 32.8551 13.3987 32.6675 13.2112C32.48 13.0237 32.2257 12.9183 31.9605 12.9183C31.6953 12.9183 31.4409 13.0237 31.2534 13.2112C31.0658 13.3987 30.9605 13.6531 30.9605 13.9183H32.9604ZM6.0012 29.9998V28.9999C5.78648 28.9996 5.57738 29.0685 5.40484 29.1963C5.23229 29.324 5.10545 29.504 5.0431 29.7094C4.98074 29.9149 4.98617 30.135 5.05859 30.3371C5.13101 30.5392 5.26657 30.7127 5.44521 30.8318L6.0012 29.9998ZM7.99714 8.00047L8.93511 7.65048C8.86695 7.4679 8.74692 7.30921 8.58978 7.19394C8.43265 7.07866 8.24525 7.01181 8.05063 7.00161C7.85601 6.99142 7.66265 7.03831 7.49432 7.13653C7.32599 7.23475 7.19004 7.38002 7.10317 7.55448L7.99714 8.00047ZM15.9849 26L16.6929 26.7059C16.813 26.5854 16.9004 26.4363 16.9468 26.2726C16.9932 26.1089 16.997 25.9361 16.958 25.7705C16.9189 25.6049 16.8383 25.452 16.7236 25.3263C16.609 25.2005 16.4642 25.1061 16.3029 25.052L15.9849 26ZM30.4325 9.94641L29.6925 10.6184L30.0525 11.0164L30.5825 10.9364L30.4325 9.94641ZM32.9604 8.06646C33.0624 9.62242 32.9664 10.5664 32.7144 11.2784C32.4704 11.9684 32.0425 12.5363 31.2685 13.2783L32.6524 14.7223C33.5284 13.8823 34.2044 13.0583 34.6004 11.9464C34.9864 10.8544 35.0664 9.59042 34.9564 7.93447L32.9604 8.06646ZM32.9604 15.3743V13.9183H30.9605V15.3763L32.9604 15.3743ZM18.9808 14.0823V16.0002H20.9808V14.0823H18.9808ZM18.9808 16.0002V17.0002H20.9808V16.0002H18.9808ZM26.0506 7.00049C25.1212 7.00102 24.2009 7.18461 23.3424 7.54079C22.4839 7.89697 21.7039 8.41876 21.047 9.07636C20.3902 9.73397 19.8693 10.5145 19.5141 11.3734C19.1589 12.2324 18.9763 13.1528 18.9768 14.0823H20.9768C20.9762 13.4153 21.1071 12.7547 21.362 12.1383C21.6168 11.5219 21.9906 10.9617 22.4619 10.4898C22.9333 10.0179 23.493 9.64348 24.1091 9.38792C24.7252 9.13237 25.3856 9.0007 26.0526 9.00044L26.0506 7.00049ZM30.9585 15.3743C30.9605 24.006 23.9747 30.9998 15.3609 30.9998V32.9998C25.0807 32.9998 32.9604 25.108 32.9604 15.3743H30.9585ZM7.06117 8.35046C8.14914 11.2544 12.229 17.0002 19.9808 17.0002V15.0003C13.349 15.0003 9.84309 10.0804 8.93311 7.65048L7.06117 8.35046ZM7.10317 7.55448C5.00923 11.7464 4.68723 15.8142 6.20919 19.2781C7.72715 22.732 10.9931 25.388 15.6689 26.9479L16.3029 25.052C11.993 23.612 9.2671 21.2681 8.03914 18.4722C6.81517 15.6862 6.99317 12.2523 8.89312 8.44645L7.10317 7.55448ZM15.2769 25.294C14.073 26.4999 10.4531 28.9999 6.0012 28.9999V30.9998C11.1331 30.9998 15.2349 28.1679 16.6929 26.7059L15.2769 25.294ZM31.1745 9.27643C30.5279 8.55935 29.7378 7.98619 28.8554 7.59411C27.9731 7.20203 27.0182 6.99979 26.0526 7.00049V9.00044C27.4946 9.00044 28.7926 9.62242 29.6925 10.6184L31.1745 9.27643ZM30.5825 10.9364C32.1755 10.6761 33.6304 9.87525 34.7024 8.66845L33.2144 7.33248C32.4519 8.19394 31.4171 8.76785 30.2825 8.95844L30.5825 10.9364ZM5.44521 30.8318C8.72712 33.0198 12.167 32.9998 15.3609 32.9998V30.9998C12.101 30.9998 9.2651 30.9778 6.55718 29.1679L5.44521 30.8318Z" fill="#595586" />
                            </svg>
                        </a>
                        <a href="@Model.Contact.InstagramLink" target="_blank" class="network-link">
                            <span>Instagram</span>
                            <svg width="25" height="25" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 5C15.9294 5 15.4175 5.01875 13.8181 5.09C12.2188 5.165 11.1294 5.41625 10.175 5.7875C9.17346 6.16311 8.26651 6.75387 7.51813 7.51813C6.75387 8.26651 6.16311 9.17346 5.7875 10.175C5.41625 11.1275 5.16313 12.2187 5.09 13.8125C5.01875 15.4156 5 15.9256 5 20.0019C5 24.0744 5.01875 24.5844 5.09 26.1838C5.165 27.7812 5.41625 28.8706 5.7875 29.825C6.17188 30.8112 6.68375 31.6475 7.51813 32.4819C8.35063 33.3162 9.18687 33.83 10.1731 34.2125C11.1294 34.5837 12.2169 34.8369 13.8144 34.91C15.4156 34.9812 15.9256 35 20 35C24.0744 35 24.5825 34.9812 26.1838 34.91C27.7794 34.835 28.8725 34.5837 29.8269 34.2125C30.8277 33.8366 31.734 33.2459 32.4819 32.4819C33.3162 31.6475 33.8281 30.8112 34.2125 29.825C34.5819 28.8706 34.835 27.7812 34.91 26.1838C34.9812 24.5844 35 24.0744 35 20C35 15.9256 34.9812 15.4156 34.91 13.8144C34.835 12.2188 34.5819 11.1275 34.2125 10.175C33.8369 9.17346 33.2461 8.26651 32.4819 7.51813C31.7335 6.75387 30.8265 6.16311 29.825 5.7875C28.8687 5.41625 27.7775 5.16313 26.1819 5.09C24.5806 5.01875 24.0725 5 19.9963 5H20ZM18.6556 7.70375H20.0019C24.0069 7.70375 24.4812 7.71688 26.0619 7.79C27.5244 7.85563 28.3194 8.10125 28.8481 8.30562C29.5475 8.5775 30.0481 8.90375 30.5731 9.42875C31.0981 9.95375 31.4225 10.4525 31.6944 11.1537C31.9006 11.6806 32.1444 12.4756 32.21 13.9381C32.2831 15.5188 32.2981 15.9931 32.2981 19.9963C32.2981 23.9994 32.2831 24.4756 32.21 26.0562C32.1444 27.5187 31.8988 28.3119 31.6944 28.8406C31.4522 29.4911 31.0686 30.0796 30.5712 30.5637C30.0462 31.0887 29.5475 31.4131 28.8463 31.685C28.3213 31.8913 27.5262 32.135 26.0619 32.2025C24.4812 32.2738 24.0069 32.2906 20.0019 32.2906C15.9969 32.2906 15.5206 32.2738 13.94 32.2025C12.4775 32.135 11.6844 31.8913 11.1556 31.685C10.5047 31.4436 9.9155 31.0606 9.43062 30.5637C8.93239 30.0793 8.54812 29.49 8.30562 28.8387C8.10125 28.3119 7.85563 27.5169 7.79 26.0544C7.71875 24.4738 7.70375 23.9994 7.70375 19.9925C7.70375 15.9856 7.71875 15.515 7.79 13.9344C7.8575 12.4719 8.10125 11.6769 8.3075 11.1481C8.57938 10.4488 8.90562 9.94812 9.43062 9.42312C9.95563 8.89812 10.4544 8.57375 11.1556 8.30188C11.6844 8.09563 12.4775 7.85188 13.94 7.78437C15.3238 7.72062 15.86 7.70188 18.6556 7.7V7.70375ZM28.0081 10.1937C27.7717 10.1937 27.5377 10.2403 27.3193 10.3308C27.1009 10.4212 26.9025 10.5538 26.7353 10.721C26.5682 10.8881 26.4356 11.0865 26.3451 11.3049C26.2547 11.5233 26.2081 11.7574 26.2081 11.9938C26.2081 12.2301 26.2547 12.4642 26.3451 12.6826C26.4356 12.901 26.5682 13.0994 26.7353 13.2665C26.9025 13.4337 27.1009 13.5663 27.3193 13.6567C27.5377 13.7472 27.7717 13.7937 28.0081 13.7937C28.4855 13.7937 28.9434 13.6041 29.2809 13.2665C29.6185 12.929 29.8081 12.4711 29.8081 11.9938C29.8081 11.5164 29.6185 11.0585 29.2809 10.721C28.9434 10.3834 28.4855 10.1937 28.0081 10.1937ZM20.0019 12.2975C18.9801 12.2816 17.9654 12.469 17.0168 12.849C16.0682 13.229 15.2047 13.7939 14.4765 14.5108C13.7483 15.2277 13.1701 16.0823 12.7753 17.0249C12.3806 17.9674 12.1773 18.9791 12.1773 20.0009C12.1773 21.0228 12.3806 22.0345 12.7753 22.977C13.1701 23.9196 13.7483 24.7742 14.4765 25.4911C15.2047 26.208 16.0682 26.7729 17.0168 27.1529C17.9654 27.5328 18.9801 27.7203 20.0019 27.7044C22.0241 27.6728 23.9529 26.8473 25.3718 25.4061C26.7908 23.9649 27.5861 22.0234 27.5861 20.0009C27.5861 17.9784 26.7908 16.037 25.3718 14.5958C23.9529 13.1545 22.0241 12.3291 20.0019 12.2975ZM20.0019 14.9994C20.6586 14.9994 21.3088 15.1287 21.9155 15.38C22.5222 15.6313 23.0735 15.9997 23.5379 16.464C24.0022 16.9284 24.3705 17.4796 24.6219 18.0863C24.8732 18.693 25.0025 19.3433 25.0025 20C25.0025 20.6567 24.8732 21.307 24.6219 21.9137C24.3705 22.5204 24.0022 23.0716 23.5379 23.536C23.0735 24.0003 22.5222 24.3687 21.9155 24.62C21.3088 24.8713 20.6586 25.0006 20.0019 25.0006C18.6756 25.0006 17.4037 24.4738 16.4659 23.536C15.5281 22.5982 15.0013 21.3262 15.0013 20C15.0013 18.6738 15.5281 17.4018 16.4659 16.464C17.4037 15.5262 18.6756 14.9994 20.0019 14.9994Z" fill="#595586" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var priorityData = @Html.Raw(Json.Serialize(new Dictionary<string, int>(){ { "Низький", Model.Contact.NumberLowPriorityOrders}, { "Середній", Model.Contact.NumberMediumPriorityOrders}, { "Високий", Model.Contact.NumberHighPriorityOrders}} ));
    var priorityChartCtx = document.getElementById('priorityChart').getContext('2d');

    var priorityChart = new Chart(priorityChartCtx, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: Object.values(priorityData),
                backgroundColor: ['#00E4F2', '#FAD200', '#FF6B00'],
                borderWidth: 3,
                borderColor: ['#E1E2F3']
            }]
        }
    });
</script>