@using CRMEngSystem.Data.Entities.User
@using CRMEngSystem.Data.Repositories.Factory
@using Microsoft.AspNetCore.Identity
@using CRMEngSystem.Data.Loaders.User
@inject UserManager<UserEntity> _userManager
@inject IRepositoryFactory _repositoryFactory

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stimex CRM</title>
    <link rel="icon" type="image/svg+xml" href="/icons/Logo_Small.svg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layoutStyleSheet.css" />
    <link rel="stylesheet" href="~/css/searchStyleSheet.css" />
    <link rel="stylesheet" href="~/css/menuTabStyleSheet.css" />
    <link rel="stylesheet" href="~/css/addButtonStyleSheet.css" />
</head>
<body>
    @if (User.Identity!.IsAuthenticated)
    {
        <div class="account-container">
            @{
                var user = await _repositoryFactory.Instantiate<UserEntity>().GetEntityAsync(new UserDataLoader(false, true, false), user => user.Id, _userManager.GetUserAsync(User).Result!.Id);
            }
            @if (user!.Contact.Image != null)
            {
                @if (user!.Contact.Image.Bytes == null)
                {
                    <a style="height: 20px; display: flex; justify-content: center; align-items: center;" href="@Url.ActionLink("ContactDetails", "ContactDetails", new { EntityId = user.ContactId })">
                        <img src="~/images/contact/Contact_Empty_Image.png">
                    </a>
                }
                else
                {
                    <a style="height: 20px; display: flex; justify-content: center; align-items: center;" href="@Url.ActionLink("ContactDetails", "ContactDetails", new { EntityId = user.ContactId })">
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(user.Contact.Image.Bytes!))" />
                    </a>
                }
            }
            else
            {
                <a style="height: 20px; display: flex; justify-content: center; align-items: center;" href="@Url.ActionLink("ContactDetails", "ContactDetails", new { EntityId = user.ContactId })">
                    <img src="~/images/contact/Contact_Empty_Image.png">
                </a>
            }
            <a style="height: 20px; display: flex; justify-content: center; align-items: center;" href="@Url.ActionLink("AccountLogOut", "AccountLogOut")">
                <svg viewBox="0 0 40 40" fill="none">
                    <path d="M10.0072 8.33333H20.0072C20.9238 8.33333 21.6738 7.58333 21.6738 6.66667C21.6738 5.75 20.9238 5 20.0072 5H10.0072C8.17383 5 6.67383 6.5 6.67383 8.33333V31.6667C6.67383 33.5 8.17383 35 10.0072 35H20.0072C20.9238 35 21.6738 34.25 21.6738 33.3333C21.6738 32.4167 20.9238 31.6667 20.0072 31.6667H10.0072V8.33333Z" fill="#595586" />
                    <path d="M33.0905 19.4167L28.4405 14.7667C28.3246 14.6477 28.1758 14.5659 28.0131 14.5318C27.8504 14.4978 27.6813 14.5131 27.5274 14.5758C27.3735 14.6384 27.2418 14.7455 27.1491 14.8835C27.0564 15.0214 27.007 15.1839 27.0072 15.3501V18.3334H15.3405C14.4238 18.3334 13.6738 19.0834 13.6738 20.0001C13.6738 20.9167 14.4238 21.6667 15.3405 21.6667H27.0072V24.6501C27.0072 25.4001 27.9072 25.7667 28.4238 25.2334L33.0738 20.5834C33.4072 20.2667 33.4072 19.7334 33.0905 19.4167Z" fill="#595586" />
                </svg>
            </a>
        </div>
        <div class="menu-container" id="menu-container">
            <div class="menu-item">
                <img class="logo" id="logo" src="~/icons/Logo_Small.svg">
            </div>
            <div class="menu-item">
                <a href="@Url.Action("Index", "Home")">
                    <svg viewBox="0 0 40 40" fill="none">
                        <path d="M9.54783 19.2815H6.02579C5.81547 19.2813 5.61028 19.2165 5.43798 19.0959C5.26567 18.9753 5.13456 18.8047 5.06237 18.6072C4.99018 18.4096 4.9804 18.1947 5.03436 17.9914C5.08831 17.7881 5.20339 17.6063 5.36404 17.4706L18.6761 6.23945C19.0463 5.92731 19.5149 5.7561 19.9992 5.7561C20.4834 5.7561 20.9521 5.92731 21.3223 6.23945L34.6368 17.4706C34.7974 17.6063 34.9117 17.7881 34.9656 17.9914C35.0196 18.1947 35.0098 18.4096 34.9376 18.6072C34.8654 18.8047 34.7343 18.9753 34.562 19.0959C34.3897 19.2165 34.1845 19.2813 33.9742 19.2815H30.453M9.54783 19.2815V33.4329C9.54783 33.6479 9.63327 33.8542 9.78535 34.0063C9.93744 34.1584 10.1437 34.2438 10.3588 34.2438H17.0866V29.2085C17.0709 28.4419 17.3468 27.698 17.8587 27.1271C18.3706 26.5562 19.0801 26.201 19.8439 26.1333C20.2392 26.1122 20.6347 26.1718 21.0062 26.3085C21.3777 26.4452 21.7175 26.6562 22.0048 26.9285C22.2921 27.2009 22.5209 27.5289 22.6772 27.8926C22.8336 28.2563 22.9142 28.648 22.9142 29.0439V34.2438H29.642C29.8571 34.2438 30.0634 34.1584 30.2155 34.0063C30.3675 33.8542 30.453 33.6479 30.453 33.4329V19.2815M9.54783 19.2815L19.9988 16.0108L30.453 19.2815" stroke="#595586" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span>Головна</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="@Url.Action("OrderList", "OrderList")">
                    <svg viewBox="0 0 40 40" fill="none">
                        <path d="M28.1211 16.8711C29.0001 15.9921 29.0001 14.5791 29.0001 11.75C29.0001 8.92102 29.0001 7.50801 28.1211 6.62901M28.1211 16.8711C27.2421 17.7501 25.8291 17.7501 23.0001 17.7501H17C14.171 17.7501 12.758 17.7501 11.879 16.8711M28.1211 6.62901C27.2421 5.75 25.8291 5.75 23.0001 5.75H17C14.171 5.75 12.758 5.75 11.879 6.62901M11.879 6.62901C11 7.50801 11 8.92102 11 11.75C11 14.5791 11 15.9921 11.879 16.8711M21.5001 11.75C21.5001 12.1479 21.342 12.5294 21.0607 12.8107C20.7794 13.092 20.3979 13.2501 20.0001 13.2501C19.6022 13.2501 19.2207 13.092 18.9394 12.8107C18.6581 12.5294 18.5001 12.1479 18.5001 11.75C18.5001 11.3522 18.6581 10.9707 18.9394 10.6894C19.2207 10.4081 19.6022 10.25 20.0001 10.25C20.3979 10.25 20.7794 10.4081 21.0607 10.6894C21.342 10.9707 21.5001 11.3522 21.5001 11.75Z" stroke="#595586" stroke-width="2" />
                        <path d="M29.0001 10.25C27.8067 10.25 26.6621 9.77592 25.8181 8.932C24.9742 8.08808 24.5001 6.94348 24.5001 5.75M29.0001 13.2501C27.8067 13.2501 26.6621 13.7242 25.8181 14.5681C24.9742 15.412 24.5001 16.5566 24.5001 17.7501M11 10.25C12.1935 10.25 13.3381 9.77592 14.182 8.932C15.0259 8.08808 15.5 6.94348 15.5 5.75M11 13.2501C12.1935 13.2501 13.3381 13.7242 14.182 14.5681C15.0259 15.412 15.5 16.5566 15.5 17.7501M9.5 31.8322H12.89C14.405 31.8322 15.9395 31.9912 17.4141 32.2942C20.0466 32.835 22.7552 32.895 25.4091 32.4712C26.7111 32.2612 27.9891 31.9387 29.1471 31.3807C30.1912 30.8752 31.4707 30.1657 32.3302 29.3692C33.1882 28.5742 34.0822 27.2737 34.7152 26.2566C35.2612 25.3836 34.9972 24.3141 34.1362 23.6646C33.6524 23.3127 33.0695 23.1231 32.4712 23.1231C31.8729 23.1231 31.29 23.3127 30.8062 23.6646L28.0956 25.7121C27.0456 26.5072 25.8981 27.2377 24.5316 27.4552C24.3666 27.4807 24.1941 27.5047 24.0141 27.5257M24.0141 27.5257C23.9591 27.532 23.9041 27.538 23.8491 27.5437M24.0141 27.5257C24.2542 27.4607 24.4743 27.337 24.6546 27.1657C24.8806 26.9701 25.0652 26.7313 25.1975 26.4632C25.3297 26.1952 25.4069 25.9034 25.4245 25.605C25.4421 25.3067 25.3998 25.0078 25.3 24.7261C25.2003 24.4443 25.0451 24.1854 24.8436 23.9646C24.6481 23.7476 24.4205 23.562 24.1686 23.4141C19.9731 20.9106 13.4435 22.8171 9.5 25.6146M24.0141 27.5257C23.9599 27.5375 23.9046 27.5435 23.8491 27.5437M23.8491 27.5437C22.9445 27.6346 22.0331 27.6366 21.1281 27.5497" stroke="#595586" stroke-width="2" stroke-linecap="round" />
                        <path d="M9.50003 24.5C9.50003 23.2574 8.49267 22.25 7.25002 22.25C6.00737 22.25 5 23.2574 5 24.5V32.0001C5 33.2427 6.00737 34.2501 7.25002 34.2501C8.49267 34.2501 9.50003 33.2427 9.50003 32.0001V24.5Z" stroke="#595586" stroke-width="2" />
                    </svg>
                    <span>Замовлення</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="@Url.Action("EnterpriseList", "EnterpriseList")">
                    <svg viewBox="0 0 40 40" fill="none">
                        <path d="M7.36816 34.9326C7.74246 33.6208 8.09579 32.3098 8.42105 31M23.1576 34.9326C22.7833 33.6208 22.43 32.3098 22.1047 31M8.42105 31C9.6696 25.9723 10.5048 20.9619 10.5261 15.9852H19.9997C20.021 20.9619 20.8562 25.9723 22.1047 31M8.42105 31H22.1047" stroke="#595586" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M20.7891 22.301H27.8943C27.9338 26.4252 29.3059 30.6631 31.0522 34.9325M20.1947 8.48966C19.6445 8.21457 19.0356 8.07755 18.4206 8.09043C17.8056 8.07755 17.1968 8.21457 16.6466 8.48966C16.1874 8.71927 15.8973 8.92112 15.5079 9.37081C15.3417 9.56277 15.2364 9.79897 15.1858 10.0478L15.0878 10.5301C14.9334 11.2896 15.514 12 16.2891 12V12H16.6895C17.4178 12 18.1413 11.8826 18.8322 11.6523L18.9768 11.6041C19.1847 11.5348 19.3874 11.4508 19.5834 11.3528V11.3528C20.0505 11.1193 20.4747 10.8085 20.8381 10.4335L21.5785 9.66938M20.1947 8.48966C20.7449 8.76476 21.2198 9.16965 21.5785 9.66938M20.1947 8.48966L22.3807 6.532C22.7638 6.18884 23.2173 5.93354 23.7095 5.78395V5.78395C24.379 5.58045 25.0939 5.58045 25.7634 5.78395L26.5105 6.01105M21.5785 9.66938C21.9372 10.1691 22.4122 10.574 22.9624 10.8491C23.5126 11.1242 24.1214 11.2612 24.7364 11.2483C25.3514 11.2612 25.9603 11.1242 26.5105 10.8491C27.0607 10.574 27.5356 10.1691 27.8943 9.66938C28.253 9.16965 28.728 8.76476 29.2782 8.48966M29.2782 8.48966C29.8283 8.21457 30.4372 8.07755 31.0522 8.09043C31.6672 8.07755 32.2761 8.21457 32.8263 8.48966M29.2782 8.48966L26.5105 6.01105M32.8263 8.48966C33.3765 8.76476 33.8514 9.16965 34.2101 9.66938M32.8263 8.48966L32.12 6.80196C31.9047 6.28726 31.5356 5.8516 31.0634 5.5545V5.5545C30.5611 5.23852 29.969 5.09615 29.378 5.14928L29.1977 5.16548C28.9263 5.18987 28.6592 5.24832 28.4025 5.33945L26.5105 6.01105M5.78906 34.9325H32.9996" stroke="#595586" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span>Підприємства</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="@Url.Action("ContactList", "ContactList")">
                    <svg viewBox="0 0 40 40" fill="none">
                        <path d="M13.3759 26.2791C13.6233 26.7425 13.7995 27.2383 13.9003 27.75H13.396C12.9409 25.5983 11.0439 24 8.75 24C6.45611 24 4.55908 25.5983 4.10395 27.75H3.59973C3.7005 27.2383 3.87667 26.7425 4.12405 26.2791C4.5307 25.5175 5.11743 24.8669 5.83312 24.3839L6.84899 23.6984L5.9736 22.8407C5.2198 22.1021 4.75 21.0979 4.75 20C4.75 17.8023 6.55228 16 8.75 16C10.9477 16 12.75 17.8023 12.75 20C12.75 21.0991 12.2803 22.102 11.5264 22.8407L10.651 23.6984L11.6669 24.3839C12.3826 24.8669 12.9693 25.5175 13.3759 26.2791ZM14.847 31.5C15.0016 30.7089 15.3347 29.9728 15.8 29.3499C16.1563 28.8762 16.5894 28.4656 17.0814 28.1351L18.1009 27.4503L17.2236 26.5907C16.4698 25.8521 16 24.8479 16 23.75C16 21.5523 17.8023 19.75 20 19.75C22.1977 19.75 24 21.5523 24 23.75C24 24.8491 23.5303 25.852 22.7764 26.5907L21.9004 27.449L22.9175 28.1343C23.4126 28.4679 23.8428 28.8744 24.1993 29.3491C24.6773 29.9887 25.0014 30.7246 25.1525 31.5H24.646C24.1909 29.3483 22.2939 27.75 20 27.75C17.7061 27.75 15.8091 29.3483 15.354 31.5H14.847ZM26.0997 27.75C26.2005 27.2383 26.3767 26.7425 26.6241 26.2791C27.0307 25.5175 27.6174 24.8669 28.3331 24.3839L29.349 23.6984L28.4736 22.8407C27.7198 22.1021 27.25 21.0979 27.25 20C27.25 17.8023 29.0523 16 31.25 16C33.4477 16 35.25 17.8023 35.25 20C35.25 21.0991 34.7803 22.102 34.0264 22.8407L33.151 23.6984L34.1669 24.3839C34.8826 24.8669 35.4693 25.5175 35.8759 26.2791C36.1233 26.7425 36.2995 27.2383 36.4003 27.75H35.896C35.4409 25.5983 33.5439 24 31.25 24C28.9561 24 27.0591 25.5983 26.604 27.75H26.0997ZM11.9936 9.49361C12.626 8.86116 13.4826 8.50408 14.377 8.5C16.2263 8.50109 17.75 10.0254 17.75 11.875C17.75 13.7252 16.2252 15.25 14.375 15.25C12.5255 15.25 11.0011 13.7263 11 11.877C11.0041 10.9827 11.3611 10.1261 11.9936 9.49361ZM23.2436 9.49361C23.876 8.86116 24.7326 8.50408 25.627 8.5C27.4763 8.50109 29 10.0254 29 11.875C29 13.7252 27.4752 15.25 25.625 15.25C23.7755 15.25 22.2511 13.7263 22.25 11.877C22.2541 10.9827 22.6111 10.1261 23.2436 9.49361ZM17.25 11.875C17.25 10.2727 15.9773 9 14.375 9C12.7727 9 11.5 10.2727 11.5 11.875C11.5 13.4773 12.7727 14.75 14.375 14.75C15.9773 14.75 17.25 13.4773 17.25 11.875ZM28.5 11.875C28.5 10.2727 27.2273 9 25.625 9C24.0227 9 22.75 10.2727 22.75 11.875C22.75 13.4773 24.0227 14.75 25.625 14.75C27.2273 14.75 28.5 13.4773 28.5 11.875ZM12.25 20C12.25 18.0515 10.6985 16.5 8.75 16.5C6.80147 16.5 5.25 18.0515 5.25 20C5.25 21.9485 6.80147 23.5 8.75 23.5C10.6985 23.5 12.25 21.9485 12.25 20ZM34.75 20C34.75 18.0515 33.1985 16.5 31.25 16.5C29.3015 16.5 27.75 18.0515 27.75 20C27.75 21.9485 29.3015 23.5 31.25 23.5C33.1985 23.5 34.75 21.9485 34.75 20ZM23.5 23.75C23.5 21.8015 21.9485 20.25 20 20.25C18.0515 20.25 16.5 21.8015 16.5 23.75C16.5 25.6985 18.0515 27.25 20 27.25C21.9485 27.25 23.5 25.6985 23.5 23.75Z" stroke="#595586" stroke-width="2" />
                    </svg>
                    <span>Контакти</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="@Url.Action("CatalogList", "CatalogList")">
                    <svg viewBox="0 0 40 40" fill="none">
                        <path d="M29.4286 5H11.5714C9.59898 5 8 6.58017 8 8.52941V31.4706C8 33.4198 9.59898 35 11.5714 35H29.4286C31.401 35 33 33.4198 33 31.4706V8.52941C33 6.58017 31.401 5 29.4286 5Z" stroke="#595586" stroke-width="2" />
                        <path d="M15.1426 13.8235H25.8569M15.1426 20.8823H25.8569M15.1426 27.9411H22.2854" stroke="#595586" stroke-width="2" stroke-linecap="round" />
                    </svg>
                    <span>Каталог</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="@Url.Action("WareHouseList", "WareHouseList")">
                    <svg viewBox="0 0 40 40" fill="none">
                        <path d="M12.1128 32.9113H10.3601C9.89526 32.9113 9.44946 32.7266 9.12077 32.398C8.79208 32.0693 8.60742 31.6235 8.60742 31.1586V17.1372H31.3922V31.1586C31.3922 31.6235 31.2076 32.0693 30.8789 32.398C30.5502 32.7266 30.1044 32.9113 29.6396 32.9113H27.8869" stroke="#595586" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M15.618 28.5297L19.9997 32.9114M19.9997 32.9114L24.3814 28.5297M19.9997 32.9114V22.3953M26.897 10.3726C27.1547 10.526 27.3688 10.7431 27.5187 11.0029L31.3921 17.1373M26.897 10.3726C26.6392 10.2192 26.3463 10.1345 26.0465 10.1266H13.953C13.6531 10.1345 13.3603 10.2192 13.1025 10.3726M26.897 10.3726L31.3921 7.08862L36.3921 13L31.3921 17.1373M13.1025 10.3726C12.8447 10.526 12.6306 10.7431 12.4807 11.0029L8.60732 17.1373M13.1025 10.3726L8.60732 7.08862L3.60742 13L8.60732 17.1373M8.60732 17.1373H31.3921" stroke="#595586" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span>Склад</span>
                </a>
            </div>
            @*<div class="menu-item">
                <a href="">
                    <svg viewBox="0 0 40 40" fill="none">
                        <path d="M24.6503 19.849L32.9407 16.1848V34.7282H24.6503V19.849ZM24.6503 19.849L19.4682 22.5972L14.2861 15.2688V34.7234H24.6503V19.849Z" stroke="#595586" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M35 6.38147L21.8539 14.783L15.8113 7.71808L5 13.2724M5.99581 18.933L14.2862 15.2688V34.7258H5.99581V18.933Z" stroke="#595586" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M28.4648 5.27197L34.998 6.35963L33.9104 12.8952" stroke="#595586" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span>Аналітика</span>
                </a>
            </div>*@
            <div class="menu-item">
                <a href="@Url.Action("ControlDetails", "ControlDetails")">
                    <svg viewBox="0 0 40 40" fill="none">
                        <path d="M10.409 25.409C10.831 24.9871 11.4033 24.75 12 24.75H18C18.5967 24.75 19.169 24.9871 19.591 25.409C20.0129 25.831 20.25 26.4033 20.25 27V28.25H19.75V27C19.75 26.5359 19.5656 26.0908 19.2374 25.7626C18.9092 25.4344 18.4641 25.25 18 25.25H12C11.5359 25.25 11.0908 25.4344 10.7626 25.7626C10.4344 26.0908 10.25 26.5359 10.25 27V28.25H9.75V27C9.75 26.4033 9.98705 25.831 10.409 25.409ZM16.8056 21.7023C16.2711 22.0594 15.6428 22.25 15 22.25C14.138 22.25 13.3114 21.9076 12.7019 21.2981C12.0924 20.6886 11.75 19.862 11.75 19C11.75 18.3572 11.9406 17.7289 12.2977 17.1944C12.6548 16.6599 13.1624 16.2434 13.7563 15.9974C14.3501 15.7514 15.0036 15.687 15.634 15.8124C16.2645 15.9379 16.8436 16.2474 17.2981 16.7019C17.7526 17.1564 18.0622 17.7355 18.1876 18.366C18.313 18.9964 18.2486 19.6499 18.0026 20.2437C17.7566 20.8376 17.3401 21.3452 16.8056 21.7023ZM16.5278 16.7135C16.0756 16.4113 15.5439 16.25 15 16.25C14.2707 16.25 13.5712 16.5397 13.0555 17.0555C12.5397 17.5712 12.25 18.2707 12.25 19C12.25 19.5439 12.4113 20.0756 12.7135 20.5278C13.0156 20.9801 13.4451 21.3325 13.9476 21.5407C14.4501 21.7488 15.0031 21.8033 15.5365 21.6972C16.0699 21.5911 16.5599 21.3291 16.9445 20.9445C17.3291 20.56 17.5911 20.07 17.6972 19.5365C17.8033 19.0031 17.7488 18.4501 17.5407 17.9476C17.3325 17.4451 16.9801 17.0156 16.5278 16.7135Z" stroke="#595586" stroke-width="1.5" />
                        <path d="M31 32.75H31.75V32V23.75H32.25V32C32.25 32.3315 32.1183 32.6495 31.8839 32.8839C31.6495 33.1183 31.3315 33.25 31 33.25H7C6.66848 33.25 6.35054 33.1183 6.11612 32.8839C5.8817 32.6495 5.75 32.3315 5.75 32V12C5.75 11.6685 5.8817 11.3505 6.11612 11.1161C6.35054 10.8817 6.66848 10.75 7 10.75H18.25V11.25H7H6.25V12V32V32.75H7H31Z" stroke="#595586" stroke-width="1.5" />
                        <path d="M32.1644 12.1513L32.2878 12.75H32.899H34.25V13.25H32.899H32.2878L32.1644 13.8487C32.0549 14.3801 31.8439 14.8855 31.5429 15.337L31.2019 15.8486L31.6367 16.2833L32.5963 17.243L32.243 17.5963L31.2833 16.6367L30.8486 16.2019L30.337 16.5429C29.8855 16.8439 29.3801 17.0549 28.8487 17.1644L28.25 17.2878V17.899V19.25H27.75V17.899V17.2878L27.1513 17.1644C26.6199 17.0549 26.1145 16.8439 25.663 16.5429L25.1514 16.2019L24.7167 16.6367L23.757 17.5963L23.4037 17.243L24.3633 16.2833L24.7981 15.8486L24.4571 15.337C24.1561 14.8855 23.9451 14.3801 23.8356 13.8487L23.7122 13.25H23.101H21.75V12.75H23.101H23.7122L23.8356 12.1513C23.9451 11.6199 24.1561 11.1145 24.4571 10.663L24.7981 10.1514L24.3633 9.71667L23.4037 8.757L23.757 8.40366L24.7167 9.36333L25.1514 9.79807L25.663 9.45706C26.1145 9.15609 26.6199 8.94507 27.1513 8.83557L27.75 8.71223V8.101V6.75H28.25V8.101V8.71223L28.8487 8.83557C29.3801 8.94507 29.8855 9.15609 30.337 9.45706L30.8486 9.79807L31.2833 9.36333L32.243 8.40366L32.5963 8.757L31.6367 9.71667L31.2019 10.1514L31.5429 10.663C31.8439 11.1145 32.0549 11.6199 32.1644 12.1513ZM28 16.75H28.0007C28.9948 16.749 29.9479 16.3537 30.6508 15.6508C31.3537 14.9479 31.749 13.9948 31.75 13.0007V13C31.75 12.2583 31.5301 11.5333 31.118 10.9166C30.706 10.2999 30.1203 9.81928 29.4351 9.53545C28.7498 9.25162 27.9958 9.17736 27.2684 9.32206C26.541 9.46675 25.8728 9.8239 25.3483 10.3483C24.8239 10.8728 24.4667 11.541 24.3221 12.2684C24.1774 12.9958 24.2516 13.7498 24.5355 14.4351C24.8193 15.1203 25.2999 15.706 25.9166 16.118C26.5333 16.5301 27.2583 16.75 28 16.75ZM23.75 23.75H28.25V24.25H23.75V23.75ZM28.25 27.75V28.25H25.75V27.75H28.25Z" stroke="#595586" stroke-width="1.5" />
                    </svg>
                    <span>Керування</span>
                </a>
            </div>
        </div>
    }

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/layoutScript.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
