@using CRMEngSystem.Models.ViewModels.Order
@model OrderMenuTabViewModel

<body>
    <div class="tabs-menu">
        <div class='@(Model.ActiveTab == "Details" ? "tab-link-container-active" : "tab-link-container")'>
            @Html.ActionLink("Інформація", "OrderDetails", "OrderDetails", new { entityId = Model.EntityId }, new { @class = "tab-link" })
        </div>
        <div class='@(Model.ActiveTab == "EquipmentPositions" ? "tab-link-container-active" : "tab-link-container")'>
            @Html.ActionLink("Список обладнання", "OrderEquipment", "OrderEquipment", new { entityId = Model.EntityId }, new { @class = "tab-link" })
            <div class="number-container">@Model.NumberEquipmentPositions</div>
        </div>
        <div class='@(Model.ActiveTab == "Contacts" ? "tab-link-container-active" : "tab-link-container")'>
            @Html.ActionLink("Контакти", "OrderContacts", "OrderContacts", new { entityId = Model.EntityId }, new { @class = "tab-link" })
            <div class="number-container">@Model.NumberContacts</div>
        </div>
        <div class='@(Model.ActiveTab == "WorkGroup" ? "tab-link-container-active" : "tab-link-container")'>
            @Html.ActionLink("Робоча група", "OrderWorkGroup", "OrderWorkGroup", new { entityId = Model.EntityId }, new { @class = "tab-link" })
            <div class="number-container">@Model.NumberWorkGroup</div>
        </div>
        <div class='@(Model.ActiveTab == "Comments" ? "tab-link-container-active" : "tab-link-container")'>
            @Html.ActionLink("Коментарі", "OrderComments", "OrderComments", new { entityId = Model.EntityId }, new { @class = "tab-link" })
            <div class="number-container">@Model.NumberComments</div>
        </div>
    </div>
</body>
