@using CRMEngSystem.Dto.Order
@model OrderListItemDto

<head>
    <style>
        .card-data {
            background-color: white;
            border-radius: 5px;
            grid-gap: 5px;
            display: grid;
            width: 100%;
            grid-template-columns: 8% 33% 10% 18% 17% calc(14% - 13px);
            align-items: center;
            height: 23px;
            padding: 0 10px 0 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex-shrink: 0;
        }

        .card-data span {
            font-size: 12px;
            color: #595586;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .scrollable {
            height: 21px;
            display: flex;
            align-items: center;
            overflow-x: auto;
            overflow-y: hidden;
        }

        .scrollable span {
            display: inline-block;
            white-space: nowrap;
        }

        .scrollable::-webkit-scrollbar {
            height: 3px;
        }

        .scrollable::-webkit-scrollbar-thumb {
            background-color: #E1E2F3;
            border-radius: 2px;
        }

        .scrollable::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 2px;
        }

        .scrollable::-webkit-scrollbar-thumb:hover {
            background-color: #59CDFF;
        }

        .card-data a:nth-child(2), .card-data a:nth-child(4) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 0 15px 0 15px;
        }

        .card-data a:hover span {
            color: #4962E9;
        }

        .card-data a {
            text-decoration: none;
        }

        .card-data .status {
            height: 15px;
        }
    </style>
</head>
<body>
    <div class="card-data">
        <a href="@Url.Action("OrderDetails","OrderDetails", new { EntityId = Model.OrderId})"><span>@Model.OrderId</span></a>
        <a href="@Url.Action("EnterpriseDetails","EnterpriseDetails", new { EntityId = Model.CustomerId})" class="scrollable"><span>@Model.CustomerNameUA</span></a>
        <span><img src="@Url.Content($"~/icons/Priority_{Model.Priority}.svg")" /></span>
        <a class="scrollable" href="@Url.Action("ContactDetails","ContactDetails", new { EntityId = Model.InitiatorId})"><span>@Model.InitiatorInitials</span></a>
        <span>@Model.DateTimeCreate</span>
        <span><img class="status" src="@Url.Content($"~/icons/Status_{Model.Status}.svg")" /></span>
    </div>
</body>
