@using CRMEngSystem.Models.ViewModels.Order
@using CRMEngSystem.Models.ViewModels.Confirm
@model OrderWorkGroupViewModel

<head>
    <style>
        .cards-container {
            margin-top: 10px;
            gap: 10px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(calc(25% - 8px), 1fr));
            max-height: 75vh;
            overflow-y: scroll;
            overflow-x: hidden;
            padding-right: 8px;
        }

        @@media (min-width: 1600px) {
            .cards-container {
                grid-template-columns: repeat(auto-fill, minmax(calc(16% - 8px), 1fr));
            }
        }

        .cards-container::-webkit-scrollbar {
            width: 5px;
        }

        .cards-container::-webkit-scrollbar-track {
            background: #E1E2F3;
            border-radius: 3px;
        }

        .cards-container::-webkit-scrollbar-thumb {
            background: #4962E9;
            border-radius: 3px;
        }

            .cards-container::-webkit-scrollbar-thumb:hover {
                background: #59CDFF;
            }

        .card-data {
            background-color: white;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            padding: 15px;
        }

        .card-data-header {
            display: flex;
            flex-direction: row;
        }

            .card-data-header:hover span {
                color: #4962E9;
            }

            .card-data-header:hover img {
                outline: 2px solid #4962E9;
                outline-offset: 1px;
            }

        .card-data-footer {
            display: flex;
            flex-direction: column;
        }

            .card-data-footer img {
                height: 15px;
                width: 15px;
            }

        .card-data-header img {
            height: 35px;
            width: 35px;
            transition: border-color 0.3s ease;
            border-radius: 50%;
        }

        .card-data-header span {
            margin-left: 10px;
            font-size: 13px;
            color: #595586;
        }

        .card-data-footer span {
            font-size: 12px;
            color: #595586;
            align-self: flex-start;
        }

        .card-data-footer img {
            display: flex;
            text-align: right;
            margin-left: 10px;
        }

        .copy-link {
            border-bottom: 2px solid #E1E2F3;
            margin-top: 10px;
            padding: 0 5px;
        }

        .card-data-link:hover span {
            color: #4962E9;
        }

        .card-data a {
            text-decoration: none;
            display: flex;
            align-items: center;
        }

        .copy-container {
            width: 100%;
            height: 21px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            .copy-container span {
                overflow: hidden;
                text-overflow: ellipsis;
            }

        .remove-container {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-top: 10px;
        }

        .remove-link {
            text-decoration: none;
            display: flex;
            align-items: center;
            color: #595586;
            font-size: 12px;
            margin-left: 5px;
        }

        label:hover .remove-link {
                color: #FF705C;
            }

            label:hover svg path{
            fill: #FF705C;
            }

        .remove-container label {
            cursor: pointer;
            user-select: none;
            display: flex;
            align-items: center;
            flex-direction: row;
        }
    </style>
</head>
<body>
    @if (TempData["ConfirmModal"] != null && (bool)TempData["ConfirmModal"]!)
    {
        @await Html.PartialAsync("_ConfirmModal", new ConfirmModalViewModel { NotifyText = $"Ви впевнені що хочете видалити працівника з цього замовлення?", ConfirmActionName = "ConfirmModal", ControllerName = "OrderRemoveContact", RouteValues = new { OrderId = Model.EntityId, ContactId = (int)TempData["ContactId"]!, ActionName = "OrderWorkGroup", ControllerName = "OrderWorkGroup" } })
    }
    <div class="page-container">
        @await Html.PartialAsync("_OrderMenuTab", Model)
        @Html.ActionLink("Додати працівників в робочу групу", "OrderAddContacts", "OrderAddContacts", new { OrderId = Model.EntityId, WorkGroup = true }, new { @class="add-btn-fullwidth" })
        <div class="cards-container">
            @foreach (var entity in Model.Contacts)
            {
                <div class="card-data">
                    <a href="@Url.Action("ContactDetails","ContactDetails", new { EntityId = entity.ContactId})" class="card-data-header">
                        @if (entity.Image!.Length == 0)
                        {
                            <img src="~/images/contact/Contact_Empty_Image.png">
                        }
                        else
                        {
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(entity.Image!))">
                        }
                        <span>@entity.Initials</span>
                    </a>
                    <div class="card-data-footer">
                        <a class="copy-link" href="" onclick="copyToClipboard('@entity.PhoneNumber')"><div class="copy-container"><span>@entity.PhoneNumber</span><img src="~/icons/Copy.svg" /></div></a>
                        <a class="copy-link" href="" onclick="copyToClipboard('@entity.Email')"><div class="copy-container"><span>@entity.Email</span><img src="~/icons/Copy.svg" /></div></a>
                        <div class="remove-container">
                            <label>
                                <svg width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.5 13.1875H28.5C28.5 12.2592 28.1313 11.369 27.4749 10.7126C26.8185 10.0562 25.9283 9.6875 25 9.6875C24.0717 9.6875 23.1815 10.0562 22.5251 10.7126C21.8687 11.369 21.5 12.2592 21.5 13.1875ZM18.875 13.1875C18.875 12.3832 19.0334 11.5867 19.3412 10.8436C19.649 10.1004 20.1002 9.42523 20.669 8.85647C21.2377 8.28771 21.9129 7.83655 22.6561 7.52874C23.3992 7.22093 24.1957 7.0625 25 7.0625C25.8043 7.0625 26.6008 7.22093 27.3439 7.52874C28.0871 7.83655 28.7623 8.28771 29.331 8.85647C29.8998 9.42523 30.351 10.1004 30.6588 10.8436C30.9666 11.5867 31.125 12.3832 31.125 13.1875H41.1875C41.5356 13.1875 41.8694 13.3258 42.1156 13.5719C42.3617 13.8181 42.5 14.1519 42.5 14.5C42.5 14.8481 42.3617 15.1819 42.1156 15.4281C41.8694 15.6742 41.5356 15.8125 41.1875 15.8125H38.8775L36.83 37.0068C36.6729 38.6307 35.9166 40.1379 34.7084 41.2344C33.5003 42.331 31.927 42.9381 30.2955 42.9375H19.7045C18.0733 42.9377 16.5004 42.3303 15.2927 41.2339C14.0849 40.1374 13.3288 38.6304 13.1718 37.0068L11.1225 15.8125H8.8125C8.4644 15.8125 8.13056 15.6742 7.88442 15.4281C7.63828 15.1819 7.5 14.8481 7.5 14.5C7.5 14.1519 7.63828 13.8181 7.88442 13.5719C8.13056 13.3258 8.4644 13.1875 8.8125 13.1875H18.875ZM22.375 21.5C22.375 21.1519 22.2367 20.8181 21.9906 20.5719C21.7444 20.3258 21.4106 20.1875 21.0625 20.1875C20.7144 20.1875 20.3806 20.3258 20.1344 20.5719C19.8883 20.8181 19.75 21.1519 19.75 21.5V34.625C19.75 34.9731 19.8883 35.3069 20.1344 35.5531C20.3806 35.7992 20.7144 35.9375 21.0625 35.9375C21.4106 35.9375 21.7444 35.7992 21.9906 35.5531C22.2367 35.3069 22.375 34.9731 22.375 34.625V21.5ZM28.9375 20.1875C29.2856 20.1875 29.6194 20.3258 29.8656 20.5719C30.1117 20.8181 30.25 21.1519 30.25 21.5V34.625C30.25 34.9731 30.1117 35.3069 29.8656 35.5531C29.6194 35.7992 29.2856 35.9375 28.9375 35.9375C28.5894 35.9375 28.2556 35.7992 28.0094 35.5531C27.7633 35.3069 27.625 34.9731 27.625 34.625V21.5C27.625 21.1519 27.7633 20.8181 28.0094 20.5719C28.2556 20.3258 28.5894 20.1875 28.9375 20.1875ZM15.7845 36.7547C15.8789 37.7289 16.3327 38.6329 17.0574 39.2907C17.7821 39.9484 18.7258 40.3127 19.7045 40.3125H30.2955C31.2742 40.3127 32.2179 39.9484 32.9426 39.2907C33.6673 38.6329 34.1211 37.7289 34.2155 36.7547L36.242 15.8125H13.758L15.7845 36.7547Z" fill="#595586" />
                                </svg>
                                @Html.ActionLink("Видалити працівника", "OrderRemoveContact", "OrderRemoveContact", new { OrderId = Model.EntityId, ContactId = entity.ContactId, ActionName = "OrderWorkGroup", ControllerName = "OrderWorkGroup"}, new{ @class="remove-link"})
                            </label>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
<script>
    function copyToClipboard(text) {
        navigator.clipboard.writeText(text);
    }
</script>
