@using CRMEngSystem.Models.ViewModels.Control
@using CRMEngSystem.Models.ViewModels.Notify
@using CRMEngSystem.Models.ViewModels.Confirm
@using CRMEngSystem.Data.Enums
@model ControlDetailsViewModel

<head>
    <style>
        .tab-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;
        }

        .details-container {
            background-color: white;
            border-radius: 5px;
            padding: 10px;
            color: #595586;
            width: 100%;
        }

        .details-container-data form {
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 12px;
        }

        .details-container-data {
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 12px;
        }

        .details-container-data-row {
            display: flex;
            border-radius: 5px;
            width: 100%;
            padding: 0 10px;
            align-items: center;
            justify-content: space-between;
        }

        .details-container-data-row-filled {
            display: flex;
            border-radius: 5px;
            width: 100%;
            padding: 0 10px;
            align-items: center;
            justify-content: space-between;
            background-color: #E1E2F3;
        }

        .details-container-data span:last-child {
            text-align: right;
        }

        .details-container-data span:first-child {
            font-weight: bold;
        }

        .coefficient-input {
            background-color: white;
            width: 65px;
            height: 25px;
            padding: 0 5px;
            border: 2px solid #E1E2F3;
            border-radius: 3px;
            color: #595586;
            outline: none;
            box-sizing: border-box;
            text-align: center;
            -moz-appearance: textfield;
        }

            .coefficient-input::-webkit-inner-spin-button,
            .coefficient-input::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

        .file-input {
            display: flex;
            width: 450px;
            font-size: 12px;
            color: #595586;
            
        }

        .file-container{
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin-top: 5px;
            align-items: center;
            margin-top: 15px;
        }

        .cards-container {
            display: flex;
            flex-direction: column;
            gap: 5px;
            max-height: 50vh;
            overflow-y: scroll;
            overflow-x: hidden;
            padding-right: 8px;
        }

        .cards-container::-webkit-scrollbar {
            width: 5px;
        }

        .cards-container::-webkit-scrollbar-track {
            background: #E1E2F3;
            border-radius: 3px;
        }

        .cards-container::-webkit-scrollbar-thumb {
            background: #4962E9;
            border-radius: 3px;
        }

        .cards-container::-webkit-scrollbar-thumb:hover {
            background: #59CDFF;
        }

        .header-container {
            background-color: #DDE9FF;
            border-radius: 5px;
            padding: 5px 10px;
            display: inline-block;
            width: 100%;
        }

        .header-part {
            display: grid;
            grid-gap: 5px;
            grid-template-columns: 21% 25% 18% 18% calc(18% - 13px);
            padding-right: 13px;
        }

        .header-part-column {
            font-size: 12px;
            color: #4962E9;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .header-part-column:nth-child(1), .header-part-column:nth-child(2) {
            justify-content: flex-start;
            padding: 0 15px;
        }

        .card-data {
            background-color: white;
            border-radius: 5px;
            grid-gap: 5px;
            display: grid;
            width: 100%;
            grid-template-columns: 21% 25% 18% 18% calc(18% - 13px);
            align-items: center;
            height: 23px;
            padding: 0 10px 0 10px;
            flex-shrink: 0;
        }

            .card-data span {
                font-size: 12px;
                color: #595586;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        .card-data span:nth-child(1), .card-data a:nth-child(1) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 0 15px 0 15px;
        }

        .card-data a:hover span {
            color: #4962E9;
        }

        .card-data a {
            text-decoration: none;
        }

        .card-data .status {
            height: 15px;
        }
        
        .data-input {
            border-radius: 5px;
            font-size: 12px;
            border: solid 1px #E1E2F3;
            background-color: transparent;
            color: #595586;
            outline: none;
            width: 100%;
            height: 18px;
            text-align: center;
            max-width: 150px;
        }

            .data-input::placeholder {
                color: #E1E2F3;
            }
    </style>
</head>
<body>
    @if (TempData["NotifyModal"] != null && (bool)TempData["NotifyModal"]!)
    {
        @await Html.PartialAsync("_NotifyModal", new NotifyModalViewModel { NotifyText = (string)TempData["NotifyText"]!, IsError = false})
    }
    else if (TempData["ErrorNotifyModal"] != null && (bool)TempData["ErrorNotifyModal"]!)
    {
        @await Html.PartialAsync("_NotifyModal", new NotifyModalViewModel { NotifyText = (string)TempData["NotifyText"]!, IsError = true})
    }
    @if (TempData["ConfirmModal"] != null && (bool)TempData["ConfirmModal"]!)
    {
        @await Html.PartialAsync("_ConfirmModal", new ConfirmModalViewModel { NotifyText = $"Ви впевнені що хочете видалити цей акаунт?", ConfirmActionName = "ConfirmModal", ControllerName = "AccountRemove", RouteValues = new { ContactId = (int)TempData["ContactId"]! } })
    }
    <div class="page-container">
        <div class="tabs-menu">
            <div class="tab-link-container-active">
                <div class="tab-link">Керування</div>
            </div>
        </div>
        <div class="tab-container">
            <div class="details-container">
                @if(Model.AccessLevel == CRMEngSystem.Data.Enums.AccessLevel.Low)
                {
                    <div class="details-container-data">
                        <div class="details-container-data-row-filled" style="padding: 5px 10px;">
                            <span>Курс £ до € :</span>
                            <span>@Model.CurrencyCoefficient</span>
                        </div>
                        <div class="details-container-data-row">
                            <span>Множник вартості доставки на кг:</span>
                            <span>@Model.ShippingRatePerKg</span>
                        </div>
                        <div class="details-container-data-row">
                            <span>Множник вартості доставки на м³:</span>
                            <span>@Model.ShippingRatePerCubicMeter</span>
                        </div>
                        <div class="details-container-data-row-filled">
                            <span>Інструкція</span>
                            <a title="Завантажити інструкцію" style="padding: 3px; width: 65px; display: flex; justify-content: center; align-items: center;" href="@Url.ActionLink("ControlManual", "ControlManual")">
                                <svg width="20" height="20" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.2834 13.775C17.9343 14.0151 17.6543 14.3427 17.4717 14.725C17.3168 15.0094 17.0576 15.2226 16.7486 15.3197C16.4396 15.4167 16.1051 15.3901 15.8153 15.2453C15.5256 15.1006 15.3034 14.849 15.1955 14.5437C15.0875 14.2383 15.1023 13.903 15.2367 13.6084C15.5701 12.9384 16.0917 12.2317 16.8984 11.695C17.7117 11.15 18.7401 10.8334 20.0001 10.8334C21.0967 10.8334 22.2817 11.1584 23.2234 11.865C23.7484 12.2488 24.1741 12.7524 24.4652 13.3339C24.7563 13.9155 24.9042 14.5581 24.8967 15.2084C24.8967 16.93 24.0417 18.075 23.1851 18.9C22.8684 19.205 22.5201 19.4967 22.2201 19.7467L21.9751 19.9517C21.7168 20.1605 21.4744 20.3884 21.2501 20.6334V22.9167C21.2501 23.2482 21.1184 23.5662 20.884 23.8006C20.6495 24.035 20.3316 24.1667 20.0001 24.1667C19.6686 24.1667 19.3506 24.035 19.1162 23.8006C18.8818 23.5662 18.7501 23.2482 18.7501 22.9167V20.4617C18.7501 20.0667 18.8617 19.6217 19.1617 19.235C19.5284 18.7684 19.9717 18.3734 20.3584 18.045L20.6634 17.79L20.6651 17.7884C20.9517 17.55 21.2051 17.3384 21.4484 17.1017C22.0617 16.51 22.3967 15.975 22.3967 15.2084C22.4046 14.9462 22.3471 14.6862 22.2296 14.4517C22.1121 14.2173 21.9381 14.0157 21.7234 13.865C21.2767 13.53 20.6401 13.3334 20.0001 13.3334C19.1767 13.3334 18.6434 13.535 18.2834 13.775ZM21.6667 28.3334C21.6667 28.7754 21.4912 29.1993 21.1786 29.5119C20.866 29.8244 20.4421 30 20.0001 30C19.5581 30 19.1341 29.8244 18.8216 29.5119C18.509 29.1993 18.3334 28.7754 18.3334 28.3334C18.3334 27.8913 18.509 27.4674 18.8216 27.1549C19.1341 26.8423 19.5581 26.6667 20.0001 26.6667C20.4421 26.6667 20.866 26.8423 21.1786 27.1549C21.4912 27.4674 21.6667 27.8913 21.6667 28.3334Z" fill="#595586" stroke="#595586" />
                                    <path d="M20.0003 1.66663C30.1253 1.66663 38.3337 9.87496 38.3337 20C38.3337 30.125 30.1253 38.3333 20.0003 38.3333C9.87533 38.3333 1.66699 30.125 1.66699 20C1.66699 9.87496 9.87533 1.66663 20.0003 1.66663ZM4.16699 20C4.16699 24.1992 5.83514 28.2265 8.80447 31.1958C11.7738 34.1651 15.8011 35.8333 20.0003 35.8333C24.1996 35.8333 28.2269 34.1651 31.1962 31.1958C34.1655 28.2265 35.8337 24.1992 35.8337 20C35.8337 15.8007 34.1655 11.7734 31.1962 8.8041C28.2269 5.83478 24.1996 4.16663 20.0003 4.16663C15.8011 4.16663 11.7738 5.83478 8.80447 8.8041C5.83514 11.7734 4.16699 15.8007 4.16699 20Z" fill="#595586" stroke="#595586" />
                                </svg>
                            </a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="details-container-data">
                        @using (Html.BeginForm("ControlDetailsUpdate", "ControlDetailsUpdate", FormMethod.Post))
                        {
                            <div class="details-container-data-row-filled">
                                <span>Курс £ до € :</span>
                                <span>
                                    @Html.TextBoxFor(m => m.CurrencyCoefficient, new { type = "text", inputmode = "numeric", pattern = "^\\d+([.,]?\\d+)*$", @class = "coefficient-input" })
                                </span>
                            </div>
                            <div class="details-container-data-row">
                                <span>Курс € до ₴ :</span>
                                <span>
                                    @Html.TextBoxFor(m => m.CurrencyCoefficient_UAH_EUR, new { type = "text", inputmode = "numeric", pattern = "^\\d+([.,]?\\d+)*$", @class = "coefficient-input" })
                                </span>
                            </div>
                            <div class="details-container-data-row">
                                <span>Множник вартості доставки на кг:</span>
                                <span>
                                    @Html.TextBoxFor(m => m.ShippingRatePerKg, new { type = "text", inputmode = "numeric", pattern = "^\\d+([.,]?\\d+)*$", @class = "coefficient-input" })
                                </span>
                            </div>
                            <div class="details-container-data-row">
                                <span>Множник вартості доставки на м³:</span>
                                <span>
                                    @Html.TextBoxFor(m => m.ShippingRatePerCubicMeter, new { type = "text", inputmode = "numeric", pattern = "^\\d+([.,]?\\d+)*$", @class = "coefficient-input" })
                                </span>
                            </div>
                            <div class="details-container-data-row-filled">
                                <span>Інструкція</span>
                                <a style="padding: 3px; width: 65px; display: flex; justify-content: center; align-items: center;" href="@Url.ActionLink("ControlManual", "ControlManual")">
                                    <svg width="20" height="20" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.2834 13.775C17.9343 14.0151 17.6543 14.3427 17.4717 14.725C17.3168 15.0094 17.0576 15.2226 16.7486 15.3197C16.4396 15.4167 16.1051 15.3901 15.8153 15.2453C15.5256 15.1006 15.3034 14.849 15.1955 14.5437C15.0875 14.2383 15.1023 13.903 15.2367 13.6084C15.5701 12.9384 16.0917 12.2317 16.8984 11.695C17.7117 11.15 18.7401 10.8334 20.0001 10.8334C21.0967 10.8334 22.2817 11.1584 23.2234 11.865C23.7484 12.2488 24.1741 12.7524 24.4652 13.3339C24.7563 13.9155 24.9042 14.5581 24.8967 15.2084C24.8967 16.93 24.0417 18.075 23.1851 18.9C22.8684 19.205 22.5201 19.4967 22.2201 19.7467L21.9751 19.9517C21.7168 20.1605 21.4744 20.3884 21.2501 20.6334V22.9167C21.2501 23.2482 21.1184 23.5662 20.884 23.8006C20.6495 24.035 20.3316 24.1667 20.0001 24.1667C19.6686 24.1667 19.3506 24.035 19.1162 23.8006C18.8818 23.5662 18.7501 23.2482 18.7501 22.9167V20.4617C18.7501 20.0667 18.8617 19.6217 19.1617 19.235C19.5284 18.7684 19.9717 18.3734 20.3584 18.045L20.6634 17.79L20.6651 17.7884C20.9517 17.55 21.2051 17.3384 21.4484 17.1017C22.0617 16.51 22.3967 15.975 22.3967 15.2084C22.4046 14.9462 22.3471 14.6862 22.2296 14.4517C22.1121 14.2173 21.9381 14.0157 21.7234 13.865C21.2767 13.53 20.6401 13.3334 20.0001 13.3334C19.1767 13.3334 18.6434 13.535 18.2834 13.775ZM21.6667 28.3334C21.6667 28.7754 21.4912 29.1993 21.1786 29.5119C20.866 29.8244 20.4421 30 20.0001 30C19.5581 30 19.1341 29.8244 18.8216 29.5119C18.509 29.1993 18.3334 28.7754 18.3334 28.3334C18.3334 27.8913 18.509 27.4674 18.8216 27.1549C19.1341 26.8423 19.5581 26.6667 20.0001 26.6667C20.4421 26.6667 20.866 26.8423 21.1786 27.1549C21.4912 27.4674 21.6667 27.8913 21.6667 28.3334Z" fill="#595586" stroke="#595586" />
                                        <path d="M20.0003 1.66663C30.1253 1.66663 38.3337 9.87496 38.3337 20C38.3337 30.125 30.1253 38.3333 20.0003 38.3333C9.87533 38.3333 1.66699 30.125 1.66699 20C1.66699 9.87496 9.87533 1.66663 20.0003 1.66663ZM4.16699 20C4.16699 24.1992 5.83514 28.2265 8.80447 31.1958C11.7738 34.1651 15.8011 35.8333 20.0003 35.8333C24.1996 35.8333 28.2269 34.1651 31.1962 31.1958C34.1655 28.2265 35.8337 24.1992 35.8337 20C35.8337 15.8007 34.1655 11.7734 31.1962 8.8041C28.2269 5.83478 24.1996 4.16663 20.0003 4.16663C15.8011 4.16663 11.7738 5.83478 8.80447 8.8041C5.83514 11.7734 4.16699 15.8007 4.16699 20Z" fill="#595586" stroke="#595586" />
                                    </svg>
                                </a>
                            </div>
                            <input type="submit" style="visibility: hidden; position: absolute;" />
                        }
                    </div>
                    @if(Model.AccessLevel == CRMEngSystem.Data.Enums.AccessLevel.High)
                    {
                        @using (Html.BeginForm("ControlUpdatePrices", "ControlUpdatePrices", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="file-container">
                                <input class="add-btn" value="Оновити прайси" type="submit" style="width: 150px; padding: 5px 10px;" />
                                <a title="Завантажити зразок оновлення прайсів" href="@Url.ActionLink("ControlUpdatePricesGetExample", "ControlUpdatePricesGetExample")">
                                    <svg width="20" height="20" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.2834 13.775C17.9343 14.0151 17.6543 14.3427 17.4717 14.725C17.3168 15.0094 17.0576 15.2226 16.7486 15.3197C16.4396 15.4167 16.1051 15.3901 15.8153 15.2453C15.5256 15.1006 15.3034 14.849 15.1955 14.5437C15.0875 14.2383 15.1023 13.903 15.2367 13.6084C15.5701 12.9384 16.0917 12.2317 16.8984 11.695C17.7117 11.15 18.7401 10.8334 20.0001 10.8334C21.0967 10.8334 22.2817 11.1584 23.2234 11.865C23.7484 12.2488 24.1741 12.7524 24.4652 13.3339C24.7563 13.9155 24.9042 14.5581 24.8967 15.2084C24.8967 16.93 24.0417 18.075 23.1851 18.9C22.8684 19.205 22.5201 19.4967 22.2201 19.7467L21.9751 19.9517C21.7168 20.1605 21.4744 20.3884 21.2501 20.6334V22.9167C21.2501 23.2482 21.1184 23.5662 20.884 23.8006C20.6495 24.035 20.3316 24.1667 20.0001 24.1667C19.6686 24.1667 19.3506 24.035 19.1162 23.8006C18.8818 23.5662 18.7501 23.2482 18.7501 22.9167V20.4617C18.7501 20.0667 18.8617 19.6217 19.1617 19.235C19.5284 18.7684 19.9717 18.3734 20.3584 18.045L20.6634 17.79L20.6651 17.7884C20.9517 17.55 21.2051 17.3384 21.4484 17.1017C22.0617 16.51 22.3967 15.975 22.3967 15.2084C22.4046 14.9462 22.3471 14.6862 22.2296 14.4517C22.1121 14.2173 21.9381 14.0157 21.7234 13.865C21.2767 13.53 20.6401 13.3334 20.0001 13.3334C19.1767 13.3334 18.6434 13.535 18.2834 13.775ZM21.6667 28.3334C21.6667 28.7754 21.4912 29.1993 21.1786 29.5119C20.866 29.8244 20.4421 30 20.0001 30C19.5581 30 19.1341 29.8244 18.8216 29.5119C18.509 29.1993 18.3334 28.7754 18.3334 28.3334C18.3334 27.8913 18.509 27.4674 18.8216 27.1549C19.1341 26.8423 19.5581 26.6667 20.0001 26.6667C20.4421 26.6667 20.866 26.8423 21.1786 27.1549C21.4912 27.4674 21.6667 27.8913 21.6667 28.3334Z" fill="#595586" stroke="#595586" />
                                        <path d="M20.0003 1.66663C30.1253 1.66663 38.3337 9.87496 38.3337 20C38.3337 30.125 30.1253 38.3333 20.0003 38.3333C9.87533 38.3333 1.66699 30.125 1.66699 20C1.66699 9.87496 9.87533 1.66663 20.0003 1.66663ZM4.16699 20C4.16699 24.1992 5.83514 28.2265 8.80447 31.1958C11.7738 34.1651 15.8011 35.8333 20.0003 35.8333C24.1996 35.8333 28.2269 34.1651 31.1962 31.1958C34.1655 28.2265 35.8337 24.1992 35.8337 20C35.8337 15.8007 34.1655 11.7734 31.1962 8.8041C28.2269 5.83478 24.1996 4.16663 20.0003 4.16663C15.8011 4.16663 11.7738 5.83478 8.80447 8.8041C5.83514 11.7734 4.16699 15.8007 4.16699 20Z" fill="#595586" stroke="#595586" />
                                    </svg>
                                </a>
                                @Html.TextBox("File", null, new { @class = "file-input", type = "file", accept = "application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" })
                            </div>
                        }
                    }
                }
            </div>
            @if(Model.AccessLevel == AccessLevel.High)
            {
                <div class="header-container">
                    <div class="header-part">
                        <div class="header-part-column"><span>Логін</span></div>
                        <div class="header-part-column"><span>Контакт</span></div>
                        <div class="header-part-column"><span>Рівень доступа</span></div>
                        <div class="header-part-column"><span>Змінити</span></div>
                        <div class="header-part-column"><span>Видалити</span></div>
                    </div>
                </div>
                <div class="cards-container">
                    @foreach (var entity in Model.Accounts)
                    {
                        @if (Model.CurrentUserId != entity.ContactId)
                        {
                            <div class="card-data">
                                <span>@entity.Login</span>
                                <a href="@Url.Action("ContactDetails","ContactDetails", new { EntityId = entity.ContactId})"><span>@entity.Initials</span></a>
                                @switch (entity.AccessLevel)
                                {
                                    case AccessLevel.Low:
                                        <span>3 рівень</span>
                                        break;
                                    case AccessLevel.Medium:
                                        <span>2 рівень</span>
                                        break;
                                    case AccessLevel.High:
                                        <span>1 рівень</span>
                                        break;
                                }
                                @using (Html.BeginForm("AccountChangeAccessLevel", "AccountChangeAccessLevel", FormMethod.Post, new { style = "margin-top: -2px; display: flex; justify-content: center;" }))
                                {
                                    @Html.DropDownList("AccessLevel", new SelectList(new[] { "1 рівень (Максимальний)", "2 рівень (Середній)", "3 рівень (Базовий)" }), "Змінити рівень", new { onchange = "this.form.submit();", @required = "required", @class = "data-input"})
                                    @Html.Hidden("ContactId", entity.ContactId)
                                }
                                <div style="width: 100%; display: flex; align-items: center; justify-content: center;">
                                    @Html.ActionLink("Видалити", "AccountRemove", "AccountRemove", new{ ContactId = entity.ContactId }, new{ @class = "add-btn-empty-red", style = "height: 18px; font-size: 10px; margin: 0 20px; max-width: 100px; padding-top: 6px;"})
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card-data">
                                <span>@entity.Login</span>
                                <a href="@Url.Action("ContactDetails","ContactDetails", new { EntityId = entity.ContactId})"><span>@entity.Initials</span></a>
                                @switch (entity.AccessLevel)
                                {
                                    case AccessLevel.Low:
                                        <span>3 рівень</span>
                                        break;
                                    case AccessLevel.Medium:
                                        <span>2 рівень</span>
                                        break;
                                    case AccessLevel.High:
                                        <span>1 рівень</span>
                                        break;
                                }
                                <span>Неможливо</span>
                                <span>Неможливо</span>
                            </div>
                        }
                    }
                </div>
            }
        </div>
    </div>
</body>
