@using CRMEngSystem.Models.ViewModels.Enterprise
@model EntepriseCreateViewModel

<head>
    <style>
        .form-container{
            background-color: white;
            border-radius: 5px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
        }

        .data-input {
            padding: 5px;
            border-radius: 5px;
            font-size: 12px;
            border: solid 1px #E1E2F3;
            background-color: transparent;
            color: #595586;
            outline: none;
            width: 100%;
        }

        .data-input::placeholder {
            color: #E1E2F3;
        }

        .button-container{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 5px;
        }

        .form-container-row{
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .form-container-row span{
            font-size: 12px;
            color: #595586;
            font-weight: bold;
        }

        .header-row{
            width: 180px;
        }
    </style>
</head>
<body>
    <div class="page-container">
        <div style="height: 30px; margin-bottom: 10px; align-items: center; padding-left: 15px;">
            <span style="color: #595586; font-size: 18px; font-weight: bold;">Створення підприємства</span>
        </div>
        @using (Html.BeginForm("EnterpriseCreate", "EnterpriseCreate", FormMethod.Post, new { @class = "form-container" }))
        {
            <div class="form-container-row">
                <div class="header-row"><span>Назва під-ства (Укр.): </span></div>
                @Html.TextBoxFor(m => m.NameUA, new { placeholder = "Назва підприємства українською (Повністю)", @class = "data-input", required = "required" })
            </div>
            <div class="form-container-row">
                <div class="header-row"><span>Назва під-ства (Англ.): </span></div>
                @Html.TextBoxFor(m => m.NameEN, new { placeholder = "Назва підприємства англійською (Повністю)", @class = "data-input", required = "required" })
            </div>
            <div class="form-container-row">
                <div class="header-row"><span>Форма власності (Укр.): </span></div>
                @Html.TextBoxFor(m => m.OwnershipFormUA, new { placeholder = "Форма власності українською (Повністю)", @class = "data-input", required = "required" })
            </div>
            <div class="form-container-row">
                <div class="header-row"><span>Форма власності (Англ.): </span></div>
                @Html.TextBoxFor(m => m.OwnershipFormEN, new { placeholder = "Форма власності англійською (Повністю)", @class = "data-input", required = "required" })
            </div>
            <div class="form-container-row">
                <div class="header-row"><span>Сфера діяльності: </span></div>
                @Html.TextBoxFor(m => m.IndustryBranch, new { placeholder = "Сфера діяльності (Вид промисловості)", @class = "data-input", required = "required" })
            </div>
            <div class="form-container-row">
                <div class="header-row"><span>Торгівельна група: </span></div>
                @Html.TextBoxFor(m => m.TradeGroup, new { placeholder = "Торгівельна група", @class = "data-input", required = "required" })
            </div>
            <div class="form-container-row">
                <div class="header-row"><span>Франшиза: </span></div>
                @Html.TextBoxFor(m => m.Franchise, new { placeholder = "Франшиза (Якщо відсутня - залишити пустим)", @class = "data-input" })
            </div>
            <div class="form-container-row">
                <div class="header-row"><span>Країна: </span></div>
                @Html.TextBoxFor(m => m.Country, new { placeholder = "Країна розташування", @class = "data-input", required = "required" })
            </div>
            <div class="form-container-row">
                <div class="header-row"><span>Місто: </span></div>
                @Html.TextBoxFor(m => m.City, new { placeholder = "Місто розташування", @class = "data-input", required = "required" })
            </div>
            <div class="form-container-row">
                <div class="header-row"><span>Регіон / Область: </span></div>
                @Html.TextBoxFor(m => m.Region, new { placeholder = "Регіон / Область розташування", @class = "data-input", required = "required" })
            </div>
            <div class="form-container-row">
                <div class="header-row"><span>Вулиця (Повністю): </span></div>
                @Html.TextBoxFor(m => m.Street, new { placeholder = "Вулиця розташування", @class = "data-input", required = "required" })
            </div>
            <div class="form-container-row">
                <div class="header-row"><span>Поштовий індекс: </span></div>
                @Html.TextBoxFor(m => m.PostalCode, new { placeholder = "Поштовий індекс", @class = "data-input", required = "required" })
            </div>
            <div class="form-container-row">
                <div class="header-row"><span>Координати: </span></div>
                @Html.TextBoxFor(m => m.Coordinate, new { placeholder = "Координати (Якщо відсутні - залишити пустим, можна скопіювати в Google Maps)", @class = "data-input" })
            </div>
            <div class="button-container">
                <input class="add-btn" value="Створити підприємство" type="submit" style="width: 190px;" />
            </div>
        }
    </div>
</body>