@using CRMEngSystem.Models.ViewModels.Enterprise
@model EnterpriseChangeViewModel

<head>
    <style>
        .header-container {
            margin-top: 10px;
            background-color: #DDE9FF;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 5px;
            display: inline-block;
            width: 100%;
        }

        .header-part {
            display: grid;
            grid-gap: 5px;
            grid-template-columns: 20% calc(80% - 13px);
            padding-right: 13px;
        }

        .header-part-column {
            font-size: 12px;
            color: #4962E9;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            justify-content: flex-start;
        }

        .header-part-column:first-child {
            justify-content: center;
        }

        .cards-container {
            display: flex;
            flex-direction: column;
            gap: 5px;
            max-height: 60vh;
            overflow-y: scroll;
            overflow-x: hidden;
            padding-right: 8px;
        }

        .cards-container::-webkit-scrollbar {
            width: 5px;
        }

        .cards-container::-webkit-scrollbar-track {
            background: #E1E2F3;
            border-radius: 3px;
        }

        .cards-container::-webkit-scrollbar-thumb {
            background: #4962E9;
            border-radius: 3px;
        }

            .cards-container::-webkit-scrollbar-thumb:hover {
                background: #59CDFF;
            }

        .card-data {
            background-color: white;
            border-radius: 5px;
            gap: 5px;
            display: grid;
            width: 100%;
            grid-template-columns: 20% calc(80% - 13px);
            align-items: center;
            height: 23px;
            padding: 0 10px 0 10px;
        }

            .card-data span {
                font-size: 12px;
                color: #595586;
                display: flex;
                align-items: center;
            }

        .scrollable {
            height: 21px;
            display: flex;
            align-items: center;
            overflow-x: auto;
            overflow-y: hidden;
            margin: 0 15px 0 15px;
        }

            .scrollable span {
                display: inline-block;
                white-space: nowrap;
            }

            .scrollable::-webkit-scrollbar {
                height: 3px;
            }

            .scrollable::-webkit-scrollbar-thumb {
                background-color: #E1E2F3;
                border-radius: 2px;
            }

            .scrollable::-webkit-scrollbar-track {
                background-color: transparent;
                border-radius: 2px;
            }

            .scrollable::-webkit-scrollbar-thumb:hover {
                background-color: #59CDFF;
            }

        .card-data a:hover span {
            color: #4962E9;
        }

        .card-data a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="page-container">
        <div style="height: 30px; margin-bottom: 10px; align-items: center;">
            <span style="color: #595586; font-size: 18px; font-weight: bold;">Зміна підприємства для контакта "@Model.ContactInitials"</span>
        </div>
        @using (Html.BeginForm("EnterpriseChange", "EnterpriseChange", FormMethod.Get, new { @class = "search", style = "height: 30px;" }))
        {
            <img src="~/icons/Search.svg" />
            @Html.TextBoxFor(m => m.SearchGeneral, new { placeholder = "Пошук", @Value = Model.SearchGeneral })
        }
        <div class="header-container">
            <div class="header-part">
                <div class="header-part-column">
                    <span>Змінити</span>
                </div>
                <div class="header-part-column">
                    <span>Підприємство</span>
                </div>
            </div>
        </div>
        <div class="cards-container">
            @foreach(var entity in Model.Enterprises)
            {
                <div class="card-data">
                    <div style="display: flex; width: 100%; align-items: center; justify-content: center; padding-right: 7px;">
                        @using (Html.BeginForm("EnterpriseChange", "EnterpriseChange", FormMethod.Post, new { @class = "inline-form" }))
                        {
                            @Html.Hidden("ContactId", Model.ContactId)
                            @Html.Hidden("EnterpriseId", entity.EnterpriseId)
                            <button type="submit" class="add-btn-empty" style="height: 18px; font-size: 10px; margin: 0 20px; max-width: 100px;">Змінити</button>
                        }
                    </div>
                    <a class="scrollable" href="@Url.Action("EnterpriseDetails","EnterpriseDetails", new { EntityId = entity.EnterpriseId})"><span>@entity.NameUA</span></a>
                </div>
            }
        </div>
        @await Html.PartialAsync("_Pagination", Model)
    </div>
</body>
